.dropdown-view {
    color: inherit;
    text-decoration: none;
    margin-left: 15px;
}

.category-items {
    margin-top: 30px;
}

.category-list {
    margin-bottom: 30px;
}

.category-item {
    margin-top: 10px;
}

.category-list input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/*.icon {*/
/*    position: relative; !* 위치 조정 가능 *!*/
/*    top: 1px; !* 위로 올리기 *!*/
/*}*/
