/* 드롭다운 콘텐츠 스타일 */
.dropdown-content {
    display: block;  /* 항상 보이도록 설정 */
    position: fixed; /* 화면에 고정 위치 */
    top: 40%;
    left: 43%;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    background-color: #fff;
    width: 90%; /* 화면의 80% 크기 */
    max-width: 900px; /* 최대 너비 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* 높은 z-index로 뒷 배경을 덮음 */
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto; /* 내용이 길어질 경우 스크롤 */
    height: 50%; /* 화면의 80% 크기 */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 0; /* 항목 간의 세로 간격 */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd; /* 마우스를 올리면 배경색 변경 */
}

/*!* 드롭다운 외부 클릭 시 닫히지 않도록 설정 *!*/
/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/