.auto_complete_wrap {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 85px;
  left: 206px;
  width: 667px;
  padding: 32px 32px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 16px;
  z-index: 1000;
  box-sizing: border-box;
}
.auto_complete_wrap .btn_layer_close {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 30px;
  height: 30px;
  padding: 3px;
  box-sizing: border-box;
}

.auto_complete_wrap.active {
  display: block;
}

.auto_complete_wrap .search_content_wrap {
  display: block;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap {
  min-height: 428px;
  max-height: calc(100vh - 210px);
  margin-right: -18px;
  overflow: auto;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap::-webkit-scrollbar-thumb {
  background-color: #000;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap::-webkit-scrollbar-track {
  background-color: #ececec;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap .tag_wrap {
  margin-right: 0;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap .util_area {
  display: block;
  max-width: 930px;
  text-align: right;
}
.auto_complete_wrap .search_content_wrap .scroll_wrap .util_area:before {
  left: 0;
  width: 100%;
}
.auto_complete_wrap .search_content_wrap .recommend_keyword_area {
  padding-bottom: 40px;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .keyword_prod_box {
  flex: 0 auto;
  width: 286px;
  margin: 0 36px;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .keyword_prod_box .keyword_prod_swiper_wrap .keyword_prod_swiper {
  width: 100%;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box {
  flex: 0 auto;
  width: 300px;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list {
  display: block;
  margin-bottom: 22px;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item {
  display: block;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area {
  float: left;
  font-size: 0;
  width: calc(100% - 32px);
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link {
  display: inline-block;
  max-width: 100%;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link .rank {
  display: inline-block;
  flex: 0 auto;
  width: 15px;
  margin-right: 10px;
  color: #595959;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  font-weight: 700;
  vertical-align: top;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link .keyword {
  display: inline-block;
  width: calc(100% - 25px);
  flex: 1;
  color: #000;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  height: auto;
  max-height: none;
  -webkit-box-orient: inherit;
  -webkit-line-clamp: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link:hover .keyword, .auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link:focus .keyword, .auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .left_area .hot_keyword_link:active .keyword {
  text-decoration: underline;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item .right_area {
  float: right;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item ~ .hot_keyword_item {
  margin-top: 12px;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_list .hot_keyword_item.top .left_area .rank {
  color: #3c9a17;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_bottom {
  margin-top: auto;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .hot_keyword_list_wrap .hot_keyword_bottom .info_text {
  text-align: right;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .hot_keyword_box .form_sel + .form_sel {
  margin-left: 8px;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .recent_keyword_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  flex: 0 auto;
}
.auto_complete_wrap .search_content_wrap .keyword_contents_area .recent_keyword_box .btn_delete_text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #595959;
}
.auto_complete_wrap .search_content_wrap .col_left_box {
  flex-shrink: 0;
  width: 470px;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .col_right_box {
  flex-shrink: 0;
  width: 424px;
  margin-left: 36px;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .related_product_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .related_product_area ~ .related_contents_area {
  margin-top: 20px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box {
  flex: 1;
  position: relative;
  padding-right: 54px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .prod_name {
  font-size: 14px;
  line-height: 22px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .prod_price .percent,
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .prod_price .price .val,
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .prod_price .price .unit {
  font-size: 14px;
  line-height: 22px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .btn_cart_circle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 38px;
  height: 38px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .prod_info_box .btn_cart_circle .ico_cart {
  width: 16px;
  height: 16px;
  background-size: 16px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_swiper_wrap .swiper_control_box {
  margin-top: 16px;
  text-align: right;
}
.auto_complete_wrap .search_content_wrap .related_product_area .btn_wrap {
  margin-bottom: 20px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap {
  display: block;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area.horizontal .prod_thumb_box.size_lg {
  width: 144px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box {
  padding-top: 20px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_name {
  font-size: 16px;
  line-height: 24px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_author {
  font-size: 14px;
  line-height: 22px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_price {
  margin-top: 30px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_price .percent,
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_price .price .val,
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_area .prod_info_box .prod_price .price .unit {
  font-size: 16px;
  line-height: 24px;
}
.auto_complete_wrap .search_content_wrap .related_product_area .related_prod_detail_wrap .prod_summary_box {
  display: block;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  box-sizing: border-box;
}

.auto_complete_wrap .search_content_wrap .related_contents_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .no_data {
  padding: 0;
  align-items: flex-start;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .no_data .no_data_desc {
  text-align: left;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .no_data .no_data_desc:before {
  display: none;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item {
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item .related_author_link:hover, .auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item .related_author_link:focus, .auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item .related_author_link:active {
  text-decoration: underline;
}

.auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item .related_author_link .text .author {
  margin-right: 3px;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item .related_author_link .text .matched {
  color: #474c98;
  font-weight: 700;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_author_list_wrap .related_author_list .related_author_item ~ .related_author_item {
  margin-top: 12px;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_event_swiper_wrap .event_swiper_wrap .swiper-container .swiper-slide {
  width: 202px;
  margin-right: 20px;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_event_swiper_wrap .event_swiper_wrap .swiper-container .swiper-slide:last-child {
  margin-right: 0;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_event_swiper_wrap .event_swiper_wrap .swiper-container .swiper-slide .event_area {
  width: 100%;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_event_swiper_wrap .event_swiper_wrap .swiper-container .swiper-slide .event_area .event_thumb_box {
  border-radius: 16px;
}
.auto_complete_wrap .search_content_wrap .related_contents_area .related_event_swiper_wrap .event_swiper_wrap .swiper-container .swiper-slide .event_area .event_info_box {
  margin-top: 8px;
}

.auto_complete_wrap .search_content_wrap .util_area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}
.auto_complete_wrap .search_content_wrap .util_area:before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: calc(100% + 64px);
  height: 1px;
  background-color: #EAEAEA;
}
.auto_complete_wrap .search_content_wrap .util_area .util_button_area {
  margin-left: -10px;
}
.auto_complete_wrap .search_content_wrap .util_area .util_button_area [class^=btn_] {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.auto_complete_wrap .search_content_wrap .util_area .button_layer_close {
  font-weight: 700;
  color: #595959;
}

.auto_complete_wrap .search_content_wrap .ico_search, .auto_complete_wrap .search_content_wrap .ico_link {
  display: inline-block;
  width: 12px;
}

.auto_complete_wrap .search_content_wrap .prod_row_list .prod_item ~ .prod_item {
  margin-top: 16px;
}
.auto_complete_wrap .search_content_wrap .prod_area .prod_thumb_box .img_box {
  border-color: #d5d5d5;
}

/* 최근 검색어 */
.recent_keyword_box {
  display: block;
  width: 286px;
}
.recent_keyword_box .recent_keyword_list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list {
  display: block;
  margin-bottom: 15px;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area {
  flex: 1;
  font-size: 0;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area .recent_keyword_link {
  display: inline-block;
  max-width: 184px;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area .recent_keyword_link .keyword {
  display: inline-block;
  color: #000;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  height: auto;
  max-height: none;
  -webkit-box-orient: inherit;
  -webkit-line-clamp: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area .recent_keyword_link:hover .keyword, .recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area .recent_keyword_link:focus .keyword, .recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .left_area .recent_keyword_link:active .keyword {
  text-decoration: underline;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .right_area {
  margin-left: auto;
  font-size: 0;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .right_area .date {
  display: inline-block;
  color: #767676;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  vertical-align: top;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item .right_area .btn_keyword_del {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 9px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../images/common/ink/btn_delete@2x.png");
  vertical-align: top;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_list .recent_keyword_item ~ .recent_keyword_item {
  margin-top: 12px;
}
.recent_keyword_box .recent_keyword_list_wrap .no_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 333px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom {
  margin-top: auto;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap {
  text-align: right;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap .gap {
  display: inline-block;
  font-size: 0;
  width: 1px;
  height: 8px;
  margin: 5px 6px 0;
  background: #d5d5d5;
  vertical-align: top;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap .btn_save_keyword {
  display: inline-block;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap .btn_save_keyword .val {
  color: #595959;
  font-weight: 700;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap .save_keyword_text {
  display: inline-block;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  vertical-align: top;
}
.recent_keyword_box .recent_keyword_list_wrap .recent_keyword_bottom .btn_wrap .save_keyword_text .btn_save_keyword {
  display: inline-block;
  color: #595959;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.title_wrap .right_area {
  margin-left: auto;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.title_wrap.title_size_def {
  padding-bottom: 20px;
}
.title_wrap.title_size_def .title_heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.form_sel.type_arw .ui-selectmenu-button, .form_sel[data-class*=type_arw] .ui-selectmenu-button {
  width: auto;
  height: 19px;
  padding: 0;
  border: none;
  border-radius: 0;
}