.coupon_item .coupon_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 140px;
    text-align: left;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.coupon_item .coupon_inner .left_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 25px 25px 24px;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

.coupon_item .coupon_inner .left_box .coupon_logo {
    display: inline-block;
    height: 24px;
    margin-bottom: 19px;
}.coupon_item .coupon_inner .left_box .coupon_logo img:first-child {
     margin-left: 0;
 }

.coupon_item .coupon_inner .left_box .coupon_logo img {
    height: 100%;
    margin-left: 5px;
}
img {
    vertical-align: middle;
}
img, fieldset {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.coupon_item .coupon_inner .coupon_val {
    display: block;
    width: 100%;
    color: #000;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.01em;
    word-break: break-all;
}
.coupon_item .coupon_inner .coupon_val .unit {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.01em;
    vertical-align: 2px;
}
.coupon_item .coupon_inner .right_box {
    display: inline-block;
    position: relative;
    flex: 0 60px;
    background: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/bg_coupon_kyobo@2x.png) 0% 0% no-repeat;
    background-size: cover;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
}
.coupon_item .coupon_inner .coupon_val .unit {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.01em;
    vertical-align: 2px;
}
.client_benefit_wrap .coupon_list.col2 .coupon_item ~ .coupon_item, .client_benefit_wrap .coupon_list.col3 .coupon_item ~ .coupon_item {
    margin-left: 50px;
}

.coupon_list .coupon_item ~ .coupon_item {
    margin-left: 40px;
}
.coupon_item {
    display: inline-block;
    width: 291px;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    vertical-align: top;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

