.title_wrap.title_size {
    padding: 0 0 30px;
}

.title_heading {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-weight: 700;
    display: inline-block;
    position: relative;
    overflow-wrap: anywhere;
}

.side_heading{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-weight: 700;
    display: inline-block;
}

.info_search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(80, 85, 177, 0.06);
    border-radius: 5px;
}

.input_btn_box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input_btn_box .form-control {
    flex: 1;
    max-width: 408px;
}
.right_area {
    display: flex;
    justify-content: flex-end;
}


#viewcount:focus {
    border-color: rgba(128, 128, 128, 0.5);
    box-shadow: none;
    outline: none;
}


#viewcount option:checked {
    background-color: rgba(128, 128, 128, 0.3);
}


#viewcount {
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    cursor: pointer;
}

#viewcount option:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

#viewcount {
    background-color: white;
}

button.btn-primary {
    color: white;
    background: #226b24;
    padding: 5px 20px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    height: 44px;
}

button.btn-primary:hover {
    background: #1e5f1e;
    color: white;
    border: none;
}


.list_category {
    list-style: none !important;
    padding: 0 !important;
    margin-top: 20px;
}
.side_item{
    margin-bottom: 6px;
}

.sd_link {
    text-decoration: none !important;
    color: inherit !important;
}

.sd_link:hover {
    text-decoration: underline !important;
    color: inherit !important;
}

.result_count .ct_green {
    color: #28a745;
    font-weight: bold;
}

.tbl_col_wrap .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.tbl_col_wrap .table th {
    font-weight: normal;
    border-top: 1px solid #000;
}

.tbl_col_wrap .table th,
.tbl_col_wrap .table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tbl_col_wrap .table .ntitle a {
    color: inherit;
}

