/* =========================
   element.style (inline style)
   ========================= */
element.style {
    position: relative;
}

/* =========================
   사용자 정의: .prod_detail_header
   ========================= */
.prod_detail_header {
    position: relative;
    padding-bottom: 60px;
    z-index: 101;
}

/* =========================
   사용자 정의: 기본 컨테이너/뷰
   ========================= */
/* 상품 상세 뷰 래퍼 */
.prod_detail_view_wrap {
    display: block;
    margin-top: 18px;
    word-break: break-all;
}

/* 상품 상세 영역 */
.prod_detail_view_wrap .prod_detail_view_area {
    width: auto;
    margin-top: 30px;
    display: -webkit-flex; /* 주석 설명 */
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    flex-direction: row;
    align-items: center;
    /* flex: row; align-items: center; => Bootstrap와 충돌 X */
}

/* 오른쪽 정보 컬럼 */
.prod_detail_view_wrap .prod_detail_view_area .col_prod_info {
    flex: 1 0 auto;
    width: 330px;
}

/* 왼쪽 이미지 컬럼 */
.prod_detail_view_wrap .prod_detail_view_area .col_prod_info.thumb {
    position: relative;
    flex: 0 auto;
    width: 380px;
    padding-bottom: 7px;
}

/* 오른쪽 정보 컬럼이 여러 개일 경우 간격 */
.prod_detail_view_wrap .prod_detail_view_area .col_prod_info ~ .col_prod_info {
    margin-left: 150px;
}

/* =========================
   Swiper (사용자 정의)
   ========================= */
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

/* 스와이퍼 래퍼 */
.swiper-wrapper {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex; /* 슬라이드를 가로 배치 */
    transition: transform 0.5s ease;
    box-sizing: content-box;
}

/* 슬라이드 아이템 */
.swiper-slide {
    flex-shrink: 0;
    width: 380px;
    height: 100%;
}

/* 스와이퍼 아이템 (커스텀) */
.prod_detail_view_wrap .col_prod_info.thumb
.prod_thumb_swiper_wrap .prod_thumb_list_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: auto;
    background-color: #fff;
}
.prod_thumb_item{
    flex: 0 0 auto;       /* 크기 고정 */
    width: 380px;         /* 하나의 슬라이드 너비 */
    height: auto;
}
/* 썸네일 이미지 래퍼 */
.blur_img_wrap {
    position: relative;
    width: 100%;
}
.blur_img_wrap.portrait .blur_img_box {
    display: none;
}

/* =========================
   좌우 화살표 버튼
   ========================= */
.swiper-container .leftarrow,
.swiper-container .rightarrow {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 25%;
    height: 100%;
    top: 0;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    align-content: center;
}
.swiper-container .leftarrow {
    left: 0;
}
.swiper-container .rightarrow {
    left: 75%;
}
/* 화살표 hover 시 */
.leftarrow:hover,
.rightarrow:hover {
    transition: none;
    opacity: 0.8;
}
/* 화살표 이미지 */
.swiper-container .leftarrow img {
    float: left;
    width: 60px;
}
.swiper-container .rightarrow img {
    float: right;
    width: 60px;
}

/* =========================
   찜하기 버튼 (btn_wish)
   ========================= */
.btn_wish {
    width: 44px;
    height: 44px;
    color: #fff;
    letter-spacing: -0.01em;
    line-height: 42px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* 큰 사이즈 */
.btn_wish.size_lg {
    width: 40px;
    height: 40px;
}
.btn_wish.size_lg .ico_wish {
    width: 20px;
    height: 20px;
    margin-top: 9px;
    background: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/ico_heart_h20@2x.png)
    center no-repeat;
    background-size: 20px 20px;
}

/* 찜 아이콘 */
.btn_wish .ico_wish {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 12px;
    background: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/ico_heart_h20@2x.png)
    center no-repeat;
    background-size: 18px 18px;
    vertical-align: top;
    transition: background 0.2s ease-out;
}

/* =========================
   물음표 버튼 (btn_info_popup)
   ========================= */
.btn_info_popup .ico_question {
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    background: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_tooltop_question_sm@2x.png)
    center no-repeat;
    background-size: 16px 16px;
}

/* =========================
   상품 상세 이미지 영역
   ========================= */
.product_detail_area.detail_img {
    text-align: center;
}
.product_detail_area.detail_img .inner img {
    display: block;
    max-width: 100%;
}

/* =========================
   탭 (tab_list_wrap)
   ========================= */
.tab_list_wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 0; /* 탭 간격 조절 */
}
.tab_list_wrap .tabs {
    display: inline-block;
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
}
.tab_list_wrap .tabs .tab_item:first-child {
    padding-right: 30px;
}
.tab_list_wrap .tabs .tab_item {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 30px;
    float: left;
    background: none;
    box-sizing: border-box;
}
/* 탭 링크 */
.tab_list_wrap .tabs .tab_item .tab_link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.tab_list_wrap .tabs .tab_item .tab_link .tab_text {
    display: block;
    width: 100%;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
    transition: all 0.3s ease-out;

}
a{
    text-decoration: none;
}
/* =========================
   툴팁용 ico_arw
   ========================= */
.tooltip_wrap .btn_tooltip .ico_arw {
    background-size: 22px 22px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/arw_tooltip@2x.png);
}

/* =========================
   툴팁 래퍼 (tooltip_wrap)
   ========================= */
.tooltip_wrap {
    position: relative;
    display: inline-block;
    height: 22px;
    vertical-align: top;
    box-sizing: border-box;
}
.tooltip_wrap.type_sm {
    height: 16px;
}

/* 툴팁 버튼 */
.tooltip_wrap .btn_tooltip {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}

/* 툴팁 실제 영역 */
.tooltip_wrap .tooltip_inner {
    position: absolute;
    display: block;
    left: 0;
    top: 22px;
    z-index: 10;
    overflow: hidden;
    width: 330px;
    padding: 19px;
    margin-top: 6px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.3s ease-out;
    visibility: hidden;
}
.tooltip_wrap.type_sm .tooltip_inner {
    top: 16px;
}
.tooltip_wrap.right .tooltip_inner {
    left: auto;
    right: 0;
}

/* 툴팁 헤더 */
.tooltip_wrap .tooltip_inner .tooltip_header {
    padding-bottom: 16px;
    box-sizing: border-box;
}
.tooltip_wrap .tooltip_inner .tooltip_header .tooltip_head_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;
    color: #000;
}

/* 툴팁 닫기 버튼 */
.tooltip_wrap .btn_tooltip_close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    box-sizing: border-box;
}

/* =========================
   장바구니/바로구매 영역 (btn_wrap)
   ========================= */
.btn_wrap {
    display: block;
    font-size: 0;
    text-align: center;
}
.btn_wrap.overlap.single {
    border-radius: 6px;
}
.btn_wrap [class^=btn_] + [class^=btn_] {
    margin-left: 6px;
}
.btn_wrap.overlap .btn_lg:not(:only-child):first-child,
.btn_wrap.overlap .btn_sm:not(:only-child):first-child {
    border-radius: 6px 0 0 6px;
}
.btn_wrap.overlap .btn_lg:not(:only-child) {
    border-radius: 0;
}

/* 라인 버튼 (.btn_line_primary) */
a.btn_line_primary,
button.btn_line_primary {
    color: #474c98;
    border: 1px solid #5055b1;
    background: #fff;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

/* 큰 버튼 (.btn_lg) */
a.btn_lg,
button.btn_lg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 150px;
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

/* =========================
   그 외 (ex: btn_primary)
   ========================= */
a.btn_primary,
button.btn_primary,
a.btn_line_primary.active,
button.btn_line_primary.active {
    color: #fff;
    background: #5055b1;
    border: 1px solid #5055b1;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

/* =========================
   END
   ========================= */
.goodsDetail{
    padding-left: 50px;
}
.goodsName{
    font-size:30px;
    font-weight: bold;
}

.writer_title, .prod_price_title, .prod_guide_title{
    font-size:20px;
    font-weight: bold;
}
.prodDetail-header{
    font-size:24px;
    font-weight: bolder;
    margin: 20px 0 15px 0;
}
.writerDetail-header{
    font-size:24px;
    font-weight: bolder;
    margin: 20px 0 0 0;
}
.writerDetail-title{
    font-size:20px;
    margin-bottom: 10px;
}
.Line{
    margin: 40px 0;
}
