<th:block th:fragment="category">
  <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div class="anb_area">
  <div class="tab_wrap ui-tabs ui-corner-all ui-widget ui-widget-content">
    <div id="tabAnbCategory" class="tab_content ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="ui-id-6" role="tabpanel" aria-hidden="false">
      <div class="tab_wrap type_md channel ui-tabs ui-corner-all ui-widget ui-widget-content">


<!--        카테고리 시작 -->
        <div id="tabAnbCategoryKyobo" class="tab_content anb_category ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="ui-id-8" role="tabpanel" aria-hidden="false">
          <div class="anb_category_inner">
            <div class="tab_wrap category ui-tabs ui-corner-all ui-widget ui-widget-content">
              <div class="tab_list_wrap">
                <ul class="tabs ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                  <li class="tab_item ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabAnbCategorySub01" aria-labelledby="ui-id-12" aria-selected="true" aria-expanded="true"> <a href="#tabAnbCategorySub01" class="tab_link ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-12"> <span class="tab_text">카테고리</span> </a> </li>
                </ul>
              </div>
              <div id="tabAnbCategorySub01" class="tab_content has_banner ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="ui-id-12" role="tabpanel" aria-hidden="false">
                <div class="custom_scroll_wrap" data-simplebar="init">
                  <div class="simplebar-wrapper" style="margin: 0px;">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                    <div class="simplebar-mask">
                      <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
                          <div class="simplebar-content" style="padding: 0px;">
                            <div class="custom_scroll_inner" tabindex="0" style="height: 370px;">
                              <div class="category_view_area">
                  <div class="fold_box_wrap category">
                    <div class="col_area">
                      <ul class="fold_box_list">
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/01"> 소설 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/03"> 시/에세이 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/05"> 인문 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/07"> 가정/육아 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/08"> 요리 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/09"> 건강 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/11"> 취미/실용/스포츠 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/13"> 경제/경영 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/15"> 자기계발 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/17"> 정치/사회 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/19"> 역사/문화 </a>
                          </div></li>
                      </ul>
                    </div>
                    <div class="col_area">
                      <ul class="fold_box_list">
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/21"> 종교 </a>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/23"> 예술/대중문화 </a> <button type="button" class="btn_fold">  </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/25"> 중/고등참고서 </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/26"> 기술/공학 </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/27"> 외국어 </a> <button type="button" class="btn_fold"></button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/29"> 과학 </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/31"> 취업/수험서 </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/32"> 여행 </a> <button type="button" class="btn_fold"></button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/33"> 컴퓨터/IT </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/35"> 잡지 </a> <button type="button" class="btn_fold">  </button>
                          </div></li>
                        <li class="fold_box">
                          <div class="fold_box_header"> <a href="https://product.kyobobook.co.kr/category/KOR/38"> 청소년 </a> <button type="button" class="btn_fold"> </button>
                          </div></li>
                      </ul>
                    </div>

                  </div>
                </div>

             </div>
          </div>

        </div> <!-- 카테고리 끝-->

    </div>

    </div>
    </div>
              </div></div></div></div></div></div>
    </div></div></div>
  </html>
</th:block>