<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/notice.css">
  <link rel="stylesheet" href="/css/user/pagination.css">
  <link rel="icon" th:href="@{/images/user/favicon.png}">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function() {
        location.href="/cart";
      })

      $("#myPage").click(function() {
        location.href="/myPage";
      })
    })
  </script>
  <script th:inline="javascript">
    $(function() {
      // 검색 버튼 클릭 시
      $(".search-btn").click(function() {
        console.log("검색 버튼 클릭됨");
        const searchWord = $("input[name='search_word']").val();
        console.log("검색어:", searchWord);

        if(searchWord.trim() === '') {
          alert("검색어를 입력하세요");
          $("input[name='search_word']").focus();
          return false;
        }

        // 폼 제출
        console.log("폼 제출 시도");
        $("form").submit();
      });

      // Enter 키 입력 시에도 검색 실행
      $("input[name='search_word']").keypress(function(e) {
        if(e.keyCode === 13) {
          e.preventDefault();
          $(".search-btn").click();
        }
      });
    });

    function filterData() {
      var selectedValue = document.getElementById('viewcount').value;
      console.log("선택된 값: " + selectedValue);

      $.ajax({
        url: '/inquiry/question',
        method: 'GET',
        data: {
          viewcount: selectedValue
        },
        success: function(response) {
          console.log("응답:", response);
        }
      });
    }
  </script>
</head>

<body>
<div th:replace="~{fragment/header :: header}"></div>

<!-- aside -->
<div class="mt-4 border-top">
  <div class="container w-75 pt-51">

    <!--div headwrap-->
    <section class="header-menu mt-4">
      <a href="#" class="home_link">home</a>
      <a href="/member/notice" class="btn_sub_depth">고객센터</a>
    </section>

    <!--div container-->
    <div class="d-flex">
      <div class="d-flex flex-column ms-4" style="width: 20%; height: 100vh;">
        <div class="aside_wrap">
          <div class="aside_header">
            <p class="side_heading">고객센터</p>
          </div>

          <!-- cscenter -->
          <div class="aside_body">
            <div class="sd_wrap" style="width: 170px;">
              <ul class="list_category">
                <li class="side_item">
                  <a href="/" class="sd_link">메인</a>
                </li>
                <li class="side_item">
                  <a href="/inquiry/notice/noti_list" class="sd_link">공지사항</a></li>
                <li class="side_item">
                  <a href="/inquiry/question" class="sd_link">문의하기</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- cscenter -->
        </div>
      </div>

      <!-- main -->
      <div style="width: 80%; height: 100vh;" class="customer_wrap">
        <!--title_wrap-->
        <div class="title_wrap title_size">
          <h1 class="title_heading">문의하기</h1>
          <div class="right_area"></div>
        </div>

        <!-- search box -->
        <form method="get" action="/inquiry/question">
          <div class="info_search-box" style="height: 100px;">
            <div class="input_btn_box">
              <input type="hidden" name="search_field" value="title">
              <input name="search_word" type="text" class="form-control"
                     placeholder="제목을 검색하세요" th:value="${search_word}"
                     style="width: 408px; height: 44px;">
              <button type="submit" class="btn btn-primary" style="height: 32px">검색</button>
            </div>
          </div>
        </form>
        <!-- list_result_wrap -->
        <div>
          <div class="list_result_wrap mt-3">
            <div class="right_area">
              <div class="form_sel" style="width: 120px;"></div>
            </div>
          </div>
        </div>

        <!-- table wrap -->
        <div class="mt-5 tbl_col_wrap">
          <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
            <p class="result_count">
              <span class="ct_green">[[${totalcount}]]</span>건
            </p>


          </div>


          <table class="table">
            <colgroup>
              <col style="width: 75px;">
              <col style="width: auto">
              <col style="width: 125px">
              <col style="width: 125px">
            </colgroup>
            <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:with="no=${totalcount - (currentPage - 1) * limit}">
              <th:block th:each="d, iterStat : ${questionlist}">
                <tr>
                  <td><span th:text="${no - (iterStat.index)}"></span></td>
                  <td>
                    <div class="ntitle">
                      <a th:href="@{/inquiry/question/detail(no=${d.qno})}">
                        <span th:text="${d.qtitle}"></span>
                      </a>
                    </div>
                  </td>
                  <td><div th:text="${d.qname}"></div></td>
                  <td><div th:text="${#strings.substring(d.qcreateat, 2, 10)}"></div></td>
                </tr>
              </th:block>
            </th:block>
            </tbody>
          </table>

        <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
            <a th:href="@{/inquiry/question/write}">
              <button type="button" class="btn btn-primary" style="width:93px; height: 36px; font-size: 13px;">문의하기</button>
            </a>
        </div>

        <!--pagination-->
          <div style="display: flex; justify-content: center; margin-top: 10px;">
            <th:block th:replace="~{fragment/paging2 :: paging2('/inquiry/question', '')}"/>
          </div>

      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>