<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Title</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <!-- 포트원 결제 -->
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <!-- 포트원 결제 -->
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <style>
    .mt-6 {
      margin-top: 6rem;
    }
  </style>
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function () {
        location.href = "/cart";
      })

      $("#myPage").click(function () {
        location.href = "/myPage";
      })

      $("#shopping").click(function() {
        location.href = "/";
      })
    })
  </script>
</head>
<body>
<div id="username" th:text="${username}" hidden></div>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
  <div class="container w-75 mt-5 d-flex">
    <div style="width: 75%; height: 300vh">
      <h3 style="font-weight: bold">주문 / 결제</h3>
      <hr>
      <div style="height: 300px;" class="text-left">
          <br>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
        <div class="mt-2">배송지 정보 : </div>
        <div class="mt-2">배송 요청사항 : </div>
        <div  class="mt-2">공동현관 출입방법 : </div>
          <div  class="mt-2">* 기본배송정보로 설정된 내용이 배송정보로 자동입력됩니다.</div>
          </div>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
        <div  class="mt-2">총 주문상품 :
           <span th:text="${quantity}"></span>
            개</div>
              <br>
<!--        <div  class="mt-2">-->
<!--            <img src="	https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791188331796.jpg" alt="책이미지">-->
<!--            <div class="mt-2">-->
<!--            주문상품 이름 :<span class="goodsName" th:text="${goodsName}"></span> </div>-->
<!--            <div class="mt-2">수량 : <span th:text="${quantity}"></span> </div>-->
<!--            <div class="mt-2">금액 : <span th:text="${goodsPrice}"></span> 원 </div>-->
<!--        </div>-->
          <div class="order-container" style="display: flex; align-items: center;">
              <!-- 책 이미지 (왼쪽) -->
              <img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791188331796.jpg" alt="책이미지" style="width: 150px; height: auto; margin-right: 20px;">
              <img th:src="${mainImage != null ? mainImage.goodsUrl + '/' + mainImage.goodsImageName : '/images/user/book/item1.png'}" width="130px" height="180px" alt="상품이미지"/>
              <!-- 텍스트 내용 (오른쪽) -->
              <div>
                  <div class="mt-2">
                      주문상품 이름 : <span class="goodsName" th:text="${goodsName}"></span>
                  </div>
                  <div class="mt-2">
                      수량 : <span th:text="${quantity}"></span>
                  </div>
                  <div class="mt-2">
                      금액 : <span th:text="${goodsPrice}"></span> 원
                  </div>
              </div>
          </div>
          </div>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
        <div  class="mt-2">할인쿠폰 : </div>
        <div  class="mt-2">사용가능한 쿠폰이 없습니다.</div>
      </div>
      </div>

    </div>
    <div style="width: 25%; height: 300vh">
      <div class="mt-6 ms-3 p-4 border rounded-3 sticky-top" style="border-width: 2px 2px 2px 2px !important;">
        <div class="d-flex justify-content-between">
<!--          <p>상품명: <span th:text="${goods.goodsName}"></span></p>-->
          <p>상품 금액</p>
<!--          <span th:text="${goods.goodsPrice}"></span>원-->
        </div>
        <div class="d-flex justify-content-between">
          <p>배송비</p>
          <span>3000원</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>쿠폰할인</p>
          <span>0원</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <p>최종 결제 금액</p>
          <span><span class="totalPrice" th:text="${goodsPrice}+3000"></span> 원</span>
        </div>
        <button class="btn btn-primary form-control mt-3" id="payment-button">결제하기</button>
        <script type="text/javascript" th:src="@{/js/payment.js}"></script>
      </div>

      <div class="ms-3 d-flex justify-content-between">
        <p>위 주문내용을 확인하였으며, 결제에 동의합니다.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>