<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Title</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/user/myPageCoupon.css">
  <script src="/js/jquery-3.7.1.js"></script>
  <!-- 포트원 결제 -->
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <!-- 포트원 결제 -->
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <style>
    .mt-6 {
      margin-top: 6rem;
    }
  </style>
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function () {
        location.href = "/cart";
      })

      $("#myPage").click(function () {
        location.href = "/myPage";
      })

      $("#shopping").click(function() {
        location.href = "/";
      })
    })
  </script>
</head>
<body>
<input type="hidden" th:value="${goodsNo}" class="goodsNo">
<input type="hidden" th:value="${goods.sellerNo}" class="sellerNo">
<div id="username" th:text="${username}" hidden></div>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
  <div class="container w-75 mt-5 d-flex">
    <div style="width: 75%; height: 300vh">
      <h3 style="font-weight: bold">주문 / 결제</h3>
      <hr>
      <div style="height: 300px;" class="text-left">
          <br>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
              <div th:if="${defaultAddress == null}" class="mt-2">
                  <b>기본배송지 정보를 설정해주세요.</b>
              </div>
              <div th:unless="${defaultAddress == null}">
              <div class="mt-2"><b>배송지 정보</b></div>
              <br>
              <div class="mt-2">배송지명 : <span th:text="${defaultAddress.addressName}"></span> </div>
              <div class="mt-2">받는 분 : <span th:text="${defaultAddress.recipientName}"></span> </div>
              <div  class="mt-2">휴대전화 : <span th:text="${defaultAddress.phoneNumber}"></span></div>
              <div  class="mt-2">주소 : <span th:text="${defaultAddress.address}"></span></div>
                  <br>
                  <div  class="mt-2">* 기본배송정보로 설정된 내용이 배송정보로 자동입력됩니다.</div>
              </div>
          </div>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
        <div  class="mt-2"><b>총 주문상품 :
           <span class="quantity" th:text="${quantity}"></span>
            개</b></div>
              <br>
<!--        <div  class="mt-2">-->
<!--            <img src="	https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791188331796.jpg" alt="책이미지">-->
<!--            <div class="mt-2">-->
<!--            주문상품 이름 :<span class="goodsName" th:text="${goodsName}"></span> </div>-->
<!--            <div class="mt-2">수량 : <span th:text="${quantity}"></span> </div>-->
<!--            <div class="mt-2">금액 : <span th:text="${goodsPrice}"></span> 원 </div>-->
<!--        </div>-->
          <div class="order-container" style="display: flex; align-items: center;">
              <!-- 책 이미지 (왼쪽) -->
<!--              <img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791188331796.jpg" alt="책이미지" style="width: 150px; height: auto; margin-right: 20px;">-->

              <th:block th:if="${imageList.size == 0 }">
                  <li class="swiper-slide not_goods_image" style="width: 380px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                      <img src="../../images/user/no_image_icon.png" alt="notGoodsImage"  class="notGoodsImage">
                  </li>
              </th:block>
              <th:block th:if="${imageList.size > 0 }">
                  <th:block th:each="image : ${imageList}">
<!--                      <li class="prod_thumb_item swiper-slide swiper-slide-visible swiper-slide-active"-->
<!--                          style="width: 380px; opacity: 1; transform: translate3d(0px, 0px, 0px);">-->

                          <div class="blur_img_wrap portrait">
                              <!-- 이미지 리스트를 반복하여 출력 -->
                              <img th:src="${image}" alt="Goods Image"  class="goodsImage" width="200" height="300">
                          </div>
<!--                      </li>-->
                  </th:block>
              </th:block>
<!--              <img th:src="${mainImage != null ? mainImage.goodsUrl + '/' + mainImage.goodsImageName : '/images/user/book/item1.png'}" width="130px" height="180px" alt="상품이미지"/>-->
              <!-- 텍스트 내용 (오른쪽) -->
              <div>
                  <div class="mt-2">
                      주문상품 이름 : <span class="goodsName" th:text="${goodsName}"></span>
                  </div>
                  <div class="mt-2">
                      수량 : <span th:text="${quantity}"></span>
                  </div>
                  <div class="mt-2">
                      금액 : <span th:text="${goodsPrice}"></span> 원
                  </div>
              </div>
          </div>
          </div>
          <br>
          <div class="border rounded-3" style="border-width: 2px 2px 2px 2px !important; padding: 20px;">
<!--        <div  class="mt-2">할인쿠폰 : </div>-->
<!--        <div  class="mt-2">사용가능한 쿠폰이 없습니다.</div>-->
              <div class="mt-2">
                 <b> <h3>할인쿠폰 ( 보유한 쿠폰이 자동적용됩니다 )</h3></b>
                  <br>
              </div>

              <div class="mt-2">
                  <div th:if="${#lists.isEmpty(coupons)}">사용가능한 쿠폰이 없습니다.</div>
                  <div th:if="${not #lists.isEmpty(coupons)}" th:each="coupon : ${coupons}">
                      <li class="coupon_item">
                          <div class="coupon_inner">
                                <span class="left_box">
                                <span class="coupon_logo">
                                <img src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_coupon_logo_kyobo@2x.png" alt="KYOBO 교보문고">
                                </span>
                                <span class="coupon_val">1,000<span class="unit">원</span></span>
                                </span>
                              <span class="right_box"></span>
                          </div>
                      </li>
                      <br><br>
                          <span>쿠폰명 : <span th:text="${coupon.couponName}">쿠폰 이름</span></span><br>
                          <span>쿠폰 금액 : <span th:text="${coupon.couponAmount}">쿠폰 금액</span>원</span><br>
                          <span>쿠폰 만료일 : <span th:text="${coupon.couponExpire.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy년 MM월 dd일 HH시 mm분 ss초'))}">만료일</span></span><br>


                  </div>
              </div>
      </div>
      </div>

    </div>
    <div style="width: 25%; height: 300vh">
      <div class="mt-6 ms-3 p-4 border rounded-3 sticky-top" style="border-width: 2px 2px 2px 2px !important;">
        <div class="d-flex justify-content-between">
<!--          <p>상품명: <span th:text="${goods.goodsName}"></span></p>-->
          <p>상품 금액</p>
          <span><span th:text="${goods.goodsPrice}"></span>원</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>배송비</p>
          <span>3000원</span>
        </div>
          <div th:if="${#lists.isEmpty(coupons)}">
             <div class="d-flex justify-content-between">

                <p>쿠폰할인</p>
                <span> -<span>0</span>원</span>
            </div>
        </div>
          <div th:if="${not #lists.isEmpty(coupons)}">
              <div class="d-flex justify-content-between">

                  <p>쿠폰할인</p>
                  <span> -<span th:text="${coupon.couponAmount}"></span>원</span>
              </div>
          </div>
        <hr>
          <div th:if="${#lists.isEmpty(coupons)}">
            <div class="d-flex justify-content-between">
             <p>최종 결제 금액</p>
            <span><span class="totalPrice" th:text="${goodsPrice}+3000"></span> 원</span>
                </div>
          </div>
          <div th:if="${not #lists.isEmpty(coupons)}" th:each="coupon : ${coupons}">
              <div class="d-flex justify-content-between">
                  <p>최종 결제 금액</p>
                  <span><span class="totalPrice" th:text="${goodsPrice}+3000-${coupon.couponAmount}"></span> 원</span>
              </div>
          </div>
        <button class="btn btn-primary form-control mt-3" id="payment-button">결제하기</button>
        <script type="text/javascript" th:src="@{/js/payment.js}"></script>
      </div>

      <div class="ms-3 d-flex justify-content-between">
        <p>위 주문내용을 확인하였으며, 결제에 동의합니다.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>