<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상세검색</title>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link href="/css/user/home.css" rel="stylesheet">
  <link href="/css/user/searchBox.css" rel="stylesheet">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function () {
        location.href = "/cart";
      })

      $("#myPage").click(function () {
        location.href = "/myPage";
      })
    })
  </script>
</head>
<body>
<div th:replace="~{../fragment/header :: header}"></div>
<script th:src="@{/js/search_detail.js}"></script>
<section class="contents_wrap" id="contents">
  <div class="contents_inner">

    <div class="title_wrap title_size_lg">
      <p class="title_heading">상세검색</p>
    </div>
    <div class="tbl_row_wrap">
      <!-- TODO 주소 수정하기 -->
      <form action="#" id="detailSearchForm" method="get" role="form">
        <input id="cnameHidden" name="cname" type="hidden" value="">
        <input id="chrcHidden" name="chrcDetail" type="hidden" value="">
        <input id="pbcmHidden" name="pbcmDetail" type="hidden" value="">
        <input id="repKeywordHidden" name="repKeyword" type="hidden" value="">
        <table class="tbl_row">
          <caption>상세검색 테이블로 상품군, 상품명, 저자/역자, 출판사, 발행일, 가격을(를) 나타낸 표입니다.</caption>
          <colgroup>
            <col style="width: 140px;">
            <col style="width: auto;">
          </colgroup>
          <tbody>
          <tr>
            <th class="has_ip" scope="row">상품군</th>
            <td>
              <div class="input_text_box">
                <div class="form_sel" id="form_sel_id" style="width: 222px;">
                  <select id="cateSel" name="cate" style="display: none;" title="상품군 카테고리 선택">
                    <option value="전체@ALL">전체</option>
                    <!-- TODO : 정해진 카테고리만큼 추가하기 -->
                  </select>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="has_ip" scope="row"><label for="cnameInput">상품명</label></th>
            <td>
              <input class="form_ip" id="cnameInput" placeholder="상품명을 입력해주세요." type="text">
            </td>
          </tr>
          <tr>
            <th class="has_ip" scope="row"><label for="chrcDetailInput">저자/역자</label></th>
            <td>
              <input class="form_ip" id="chrcDetailInput" placeholder="저자/역자를 입력해주세요." type="text">
            </td>
          </tr>
          <tr>
            <th class="has_ip" scope="row"><label for="pbcmDetailInput">출판사</label></th>
            <td>
              <input class="form_ip" id="pbcmDetailInput" placeholder="출판사를 입력해주세요." type="text">
            </td>
          </tr>
          <tr>
            <th class="has_ip" scope="row">발행일</th>
            <td>
              <div class="date_picker_box">
                <!-- form_sel -->
                <div class="form_sel"> <!-- 수정 220121 data-class="type_md" 삭제 -->
                  <select id="selMonInterval" style="display: none;" title="발행일 기간 선택">
                    <option value="1m">최근 1개월</option>
                    <option value="2m">최근 2개월</option>
                    <option value="3m">최근 3개월</option>
                    <option value="6m">최근 6개월</option>
                    <option value="">직접입력</option>
                  </select>
                </div>
                <!-- //form_sel -->
                <!-- FIXME : 1. 아이콘 다른 것으로 수정
                             2. 달력 api 가져와서 쓰기 -->
                <div class="date_box">
                  <input class="ui_date hasDatepicker" id="rlseStr" placeholder="" title="시작일 선택" type="text"><img
                    alt="날짜 선택"
                    class="ui-datepicker-trigger"
                    src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/datepicker_icon_button@2x.png"
                    title="날짜 선택">
                </div>
                <span class="gap">~</span>
                <div class="date_box">
                  <input class="ui_date hasDatepicker" id="rlseEnd" placeholder="" title="종료일 선택" type="text"><img
                    alt="날짜 선택"
                    class="ui-datepicker-trigger"
                    src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/datepicker_icon_button@2x.png"
                    title="날짜 선택">
                </div>

              </div>
            </td>
          </tr>
          <tr>
            <th class="has_ip" scope="row">가격</th>
            <td>
              <div class="input_text_box">
                <input class="form_ip" id="saprmin" onkeyup="inputNumberFormat(this)" placeholder="0" title="최소 금액 입력"
                       type="text">
                <span class="gap">~</span>
                <input class="form_ip" id="saprmax" onkeyup="inputNumberFormat(this)" placeholder="9,999,999"
                       title="최대 금액 입력"
                       type="text">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="btn_wrap page_bottom">
      <button class="btn_lg btn_line_primary" onclick="initValue();" type="button"><span class="text">초기화</span>
      </button>
      <a class="btn_lg btn_primary" onclick="goDetailSearchResult()"><span class="text">상세검색</span></a>
    </div>
  </div>
</section>
</body>
</html>