<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function() {
        location.href="/cart";
      })

      $("#myPage").click(function() {
        location.href="/myPage";
      })
    })
  </script>
</head>
<body>
<!--<div th:replace="~{../fragment/header :: header}"></div>-->
<div style="background-color: forestgreen">
  <div class="container w-75">
    <div class="header-menu mt-4">
      <a href="#" class="ps-5 pe-5">여기는 </a>
      <a href="#" class="ps-5 pe-5">BO</a>
      <a href="#" class="ps-5 pe-5">페이지</a>
      <a href="#" class="ps-5 pe-5">입니다</a>
      <a href="#" class="ps-5 pe-5">카테고리</a>
      <a href="#" class="ps-5 pe-5">어떻게하지</a>
    </div>
  </div>
</div>
<div>
  BO페이지 메인
</div>

</body>
</html>