<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/notice.css">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function() {
        location.href="/cart";
      })

      $("#myPage").click(function() {
        location.href="/myPage";
      })
    })
  </script>
</head>

<body>
<div th:replace="~{fragment/header :: header}"></div>

<!-- aside -->
<div class="mt-4 border-top">
  <div class="container w-75 pt-51">

    <!--div headwrap-->
    <section class="header-menu mt-4">
      <a href="#" class="home_link">home</a>
      <a href="#" class="btn_sub_depth">고객센터</a>
    </section>

    <!--div container-->
    <div class="d-flex">
      <div class="d-flex flex-column ms-4" style="width: 20%; height: 100vh;">
        <div class="aside_wrap">
          <div class="aside_header">
            <p class="side_heading">고객센터</p>
          </div>

          <!-- cscenter -->
          <div class="aside_body">
            <div class="sd_wrap" style="width: 170px;">
              <ul class="list_category">
                <li class="side_item">
                  <a href="#" class="sd_link">메인</a>
                </li>
                <li class="side_item">공지사항</li>
                <li class="side_item">
                  <a href="#" class="sd_link">QnA</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- main -->
      <div style="width: 80%; height: 100vh;" class="customer_wrap">
        <!--title_wrap-->
        <div class="title_wrap title_size">
          <h1 class="title_heading">QnA</h1>
          <div class="right_area"></div>
        </div>

        <!-- search box -->
        <div class="info_search-box" style="height: 84px;">
          <div class="input_btn_box">
            <input name="search_word" type="text" class="form-control"
                   placeholder="제목을 입력하세요" th:value="${search_word}" style="width: 408px; height: 44px;">
            <button type="button" class="btn btn-primary" style="height: 44px">검색</button>
          </div>
        </div>

        <!-- list_result_wrap -->
        <div>
          <div class="list_result_wrap">
            <p class="result_count">
              <span class="ct_green">[[${listcount}]]</span>건
            </p>
            <div class="right_area">
              <div class="form_sel" style="width: 120px;"></div>
            </div>
          </div>
        </div>

        <!-- table wrap -->
        <div class="mt-5 tbl_col_wrap">
          <table class="table">
            <colgroup>
              <col style="width: 75px;">
              <col style="width: auto">
              <col style="width: 125px">
              <col style="width: 125px">
            </colgroup>
            <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody class="notice_tbody">
            <tr>
              <td>1</td>
              <td>
                검색이 되지 않거나 품절/절판인 도서는 구입할 수 없나요?
              </td>
              <td>고객센터</td>
              <td>2024.12.31</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!--pagination-->
        <div class="pagination">
          <button class="btn_page prev" disabled="disabled">
            <span class="hidden"></span>
          </button>
          <div class="page_num">

          </div>
          <button class="btn_page next">
            <span class="hidden"></span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>