<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="icon" th:href="@{/img/user/favicon.png}">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/notice.css">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function() {
        location.href="/cart";
      })

      $("#myPage").click(function() {
        location.href="/myPage";
      })
    })
  </script>
  <style>
    .btn{
      border-color:#226b24;
      border-radius: 5px;
      color:#226b24;
      padding: 10px 20px;
      margin-left: 10px;
      hover: none;
    }
  </style>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>

<!-- aside -->
<div class="mt-4 border-top">
  <div class="container w-75 pt-51">

    <!--div headwrap-->
    <section class="header-menu mt-4">
      <a href="#" class="home_link">home</a>
      <a href="#" class="btn_sub_depth">고객센터</a>
    </section>

    <!--div container-->
    <div class="d-flex">
      <div class="d-flex flex-column ms-4" style="width: 20%; height: 100vh;">
        <div class="aside_wrap">
          <div class="aside_header">
            <p class="side_heading">고객센터</p>
          </div>

          <!-- cscenter -->
          <div class="aside_body">
            <div class="sd_wrap" style="width: 170px;">
              <ul class="list_category">
                <li class="side_item">
                  <a href="/" class="sd_link">메인</a>
                </li>
                <li class="side_item">
                  <a href="/inquiry/notice" class="sd_link">공지사항</a>
                </li>
                <li class="side_item">
                  <a href="/inquiry/question" class="sd_link">QnA</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- main -->
      <div class="container">

        <div class="title_wrap title_size">
          <h1 class="title_heading">공지사항 작성</h1>
          <div class="right_area"></div>
        </div>
        <form th:action="@{/inquiry/notice/add}" method="post" name="boardform">

          <div class="form-group">
            <input name="notiName" id="noti_Name" readOnly
                   type="text" class="form-control"
                   placeholder="notice_writer"  th:value="${#authentication.name}" />
          </div>

          <div class="form-group mt-2">
            <input name="notiTitle" id="noti_Title" type="text" maxlength="300"
                   class="form-control" placeholder="notice_title">
          </div>
          <div class="form-group mt-3">
            <textarea name="notiContent" id="noti_Content"
                      rows="10" class="form-control"></textarea>
          </div>

          <div class="form-group mt-3 d-flex justify-content-end">
            <button type="submit" class="btn" style="background-color:#226b24; border-radius: 5px; color:white; width: 74px; text-align: center;">등록</button>
            <button type="reset" class="btn">취소</button>
          </div>
        </form>

      </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>