<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>검색결과</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link href="/css/user/home.css" rel="stylesheet">
  <link href="/css/user/searchBox.css" rel="stylesheet">
  <link href="/css/user/searchResult.css" rel="stylesheet">

  <script th:src="@{/js/search/search_filter.js}"></script>
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      });

      $("#cart").click(function () {
        location.href = "/cart";
      });

      $("#myPage").click(function () {
        location.href = "/myPage";
      });
    });
  </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>

<main class="container_wrapper">
  <input type="hidden" id="keywordHidden" th:value="${searchResult.keyword}">
  <section id="contents" class="contents_wrap">
    <div class="contents_inner">
      <div class="search_result_top">
        <div class="title_wrap title_size_lg">
          <input type="hidden" id="totalGoodsCount" th:value="${searchResult.totalCount}">
          <h1 class="title_heading">
            <span style="color:#1e5f1e">
              '
              <span class="search_value" th:text="${searchResult.keyword}"></span>
              '
            </span>
            <th:block th:if="${searchResult.totalCount > 0 }">
              <span th:text="'에 대한 ' + ${searchResult.totalCount} + '개의 검색 결과'"></span>
            </th:block>
            <th:block th:if="${searchResult.totalCount == 0 || searchResult.totalCount == null}">
              <span th:text="'상품 검색 결과가 없습니다.'"></span>
            </th:block>
          </h1>
        </div>
        <!-- 연관 검색어 영역 -->
<!--        <div class="related_keyword_wrap" th:if="${!#lists.isEmpty(searchResult.searchResults)}">-->
<!--          <p>연관 검색어 추가 예정</p>-->
<!--        </div>-->

        <div class="search_result_wrap" th:if="${!#lists.isEmpty(searchResult.searchResults)}">

          <!-- 필터 영역 -->
          <div class="filter_area">
            <div class="title_wrap title_size_def">
              <p class="title_heading">필터</p>
              <div class="right_area">
                <button type="button" class="btn_reset">
                  <span class="ico_reset"></span>
                  <span class="text">초기화</span>
                </button>
              </div>
            </div>

            <!-- 필터 공통 리스트 영역 -->
            <div class="filter_integrate_box" id="category_filter_box">
              <ul class="filter_list">
                <!-- 카테고리 필터 -->
                <li class="menu_item item_depth1" id="category_filter_li">
                  <button type="button" class="btn_filter_depth1 btn btn-light" id="category_filter_button">
                    <span class="text">카테고리</span>
                  </button>
                  <div class="filter_cont_box" style="display: none;">
                    <ul class="filter_list depth2">
                      <!-- 각 카테고리는 ajax에서 받아온 카테고리 목록을 바탕으로 생성하기 -->
                      <!-- 예시 -->
                      <li class="menu_item item_depth2" th:each="category : ${searchResult.categoryList}">
                        <button type="button" class="btn_category category-item" th:value="${category.getKey().cateNo}"
                                th:text="${category.getKey().cateName + ' (' + category.getValue() + ')'}">
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 검색조건 영역 (depth1 기본 active 상태로 열림) -->
            <div class="filter_list_box" style="display: block">
              <ul class="filter_list">
                <li class="menu_item item_depth1 active">
                  <button type="button" class="btn_filter_depth1 btn btn-light active">
                    <span class="text">검색조건</span>
                  </button>
                  <div class="filter_cont_box">
                    <ul class="filter_list depth2 active">
                      <li class="menu_item item_depth2">
              <span class="form_chk">
                <input id="search_condition_cname" name="searchCondition" type="checkbox" value="cname">
                <label for="search_condition_cname">상품명</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_chk">
                <input id="search_condition_chrc" name="searchCondition" type="checkbox" value="chrc">
                <label for="search_condition_chrc">저자/역자</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_chk">
                <input id="search_condition_pbcm" name="searchCondition" type="checkbox" value="pbcm">
                <label for="search_condition_pbcm">출판사</label>
              </span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 가격 필터 영역 -->
            <div class="filter_list_box" style="display: block">
              <ul class="filter_list">
                <li class="menu_item item_depth1">
                  <button type="button" class="btn_filter_depth1 btn btn-light">
                    <span class="text">가격</span>
                  </button>
                  <div class="filter_cont_box" style="display: none;">
                    <ul class="filter_list depth2">
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterPrice_01" type="radio" name="filterPrice" value="0~10000">
                <label for="filterPrice_01">~1만원</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterPrice_02" type="radio" name="filterPrice" value="10000~30000">
                <label for="filterPrice_02">1만원~3만원</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterPrice_03" type="radio" name="filterPrice" value="30000~100000">
                <label for="filterPrice_03">3만원~10만원</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterPrice_04" type="radio" name="filterPrice" value="100000~99999999">
                <label for="filterPrice_04">10만원~</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
                        <div class="price_range_wrap">
                          <div class="col_box">
                            <input type="text" class="form_ip" name="saprminFilter" id="saprminFilter" maxlength="8"
                                   placeholder="최저 금액" onkeyup="inputNumberFormat(this)">
                            <span class="gap">~</span>
                          </div>
                          <div class="col_box">
                            <div class="input_btn_box">
                              <input type="text" class="form_ip" name="saprmaxFilter" id="saprmaxFilter" maxlength="8"
                                     placeholder="최대 금액" onkeyup="inputNumberFormat(this)">
                              <button type="button" id="btnPriceApply" class="btn_sm btn_line_primary">
                                <span class="text">적용</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 발행일 필터 영역 -->
            <div class="filter_list_box" style="display: block">
              <ul class="filter_list">
                <li class="menu_item item_depth1">
                  <button type="button" class="btn_filter_depth1 btn btn-light">
                    <span class="text">발행일</span>
                  </button>
                  <div class="filter_cont_box" style="display: none;">
                    <ul class="filter_list depth2">
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_ALL" type="radio" name="filterRlseDateRdo" value="" checked>
                <label for="filterRlseDate_ALL">전체</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_3M" type="radio" name="filterRlseDateRdo" value="3M">
                <label for="filterRlseDate_3M">3개월 이내</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_6M" type="radio" name="filterRlseDateRdo" value="6M">
                <label for="filterRlseDate_6M">6개월 이내</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_1Y" type="radio" name="filterRlseDateRdo" value="1Y">
                <label for="filterRlseDate_1Y">1년 이내</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_3Y" type="radio" name="filterRlseDateRdo" value="3Y">
                <label for="filterRlseDate_3Y">3년 이내</label>
              </span>
                      </li>
                      <li class="menu_item item_depth2">
              <span class="form_rdo">
                <input id="filterRlseDate_5Y" type="radio" name="filterRlseDateRdo" value="5Y">
                <label for="filterRlseDate_5Y">5년 이내</label>
              </span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 결과 내 재검색 영역 -->
            <div class="filter_search_box form_search_box">
              <div class="form_ip_search">
                <input type="search" name="reKeyword" id="reKeyword" class="form_ip" placeholder="결과 내 재검색"
                       autocomplete="off">
                <button type="button" class="btn_ip_clear"><span class="hidden">초기화</span></button>
                <button type="button" class="btn_ip_search"><span class="hidden">검색</span></button>
              </div>
            </div>
          </div>
          <!-- 결과 영역 -->
          <div class="result_area">
            <div class="list_result_wrap d-flex justify-content-between align-items-center mb-3">
              <p class="result_count">전체 <b style="color:#1e5f1e" th:text="${searchResult.totalCount}"></b>건</p>

              <!-- 장바구니, 찜 버튼 -->

              <!--    <div class="icon ms-auto mb-4">-->
              <!--      <img src="/img/user/heart.png" class="me-2" width="36" height="36" alt="찜">-->
              <!--      <img src="/img/user/cart.png" class="me-2" width="36" height="36" alt="장바구니">-->
              <!--    </div>-->

              <!-- 드롭다운 -->
              <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li><a class="dropdown-item" href="#" data-sort="sales">판매량순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="latest">최신순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="name">상품명순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="lowPrice">낮은가격순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="highPrice">높은가격순</a></li>
                </ul>
                <!-- 페이지당 보기 -->
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownView"
                        data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownView">
                  <li><a class="dropdown-view" href="#" data-size="20">20개씩 보기</a></li>
                  <li><a class="dropdown-view" href="#" data-size="50">50개씩 보기</a></li>
                  <li><a class="dropdown-view" href="#" data-size="100">100개씩 보기</a></li>
                </ul>
              </div>
            </div>

            <div class="book-items mt-4">
              <ul class="prod_list">
                <!-- goods 리스트를 반복하여 출력 -->
                <li class="prod_item d-flex justify-content-between align-items-start" th:each="goods : ${searchResult.searchResults}">
                  <div class="prod_area d-flex align-items-start mb-5">
                    <div class="book-item d-flex mt-1 ms-3">
                      <input type="hidden" class="goodsNo" th:value="${goods.goodsNo}">
                      <input type="hidden" class="goodsName" th:value="${goods.goodsName}">
                      <input type="hidden" class="goodsPrice" th:value="${goods.goodsPrice}">
                      <input type="hidden" class="goodsWriter" th:value="${goods.goodsWriter}">
                      <!-- 상품 이미지 클릭 시 상세 페이지 이동 -->
                      <div>
                        <a th:href="@{/goods/GoodsDetail/{no}(no=${goods.goodsNo})}" class="show-detail">
                          <div class="img-box">
                            <img th:src="${goods.mainImage != null ? goods.mainImage.goodsUrl + '/' + goods.mainImage.goodsImageName
                                        : '/images/user/book/img.png'}" style="width:200px; height:280px;"/>
                          </div>
                        </a>
                      </div>
                      <div class="item-info ms-3">

                        <div class="prod_name_group">
                          <!-- 상품 이름 클릭 시 상세 페이지 이동 -->
                          <a th:href="@{/goods/GoodsDetail/{no}(no=${goods.goodsNo})}"
                             class="show-detail">
                            <!-- TODO : 이름 옆에 카테고리 이름 추가하기 -->
                            <span class="item-name" th:text="${goods.goodsName}"></span>
                          </a>
                          <br>
                        </div>

                        <div class="prod_desc_info">
                          <span th:text="${goods.goodsContent}"></span>
                        </div>

                        <!-- TODO : 저자와 출판사 클릭시 해당 검색어로 검색하는 기능 추가하기 -->
                        <div class="prod_author_info">
                          <div class="prod_author_group">
                            <span class="item-author" th:text="${goods.goodsWriter}"></span>
                            <span class="type">저자(글)</span>
                          </div>

                          <div class="prod_publish">
                            <th:block th:if="${goods.companyName != null}">
                              <span class="prod_publish" th:text="${goods.companyName}"></span>
                            </th:block>
                            <th:block th:if="${goods.companyName == null}">
                              <span class="prod_publish">출판사 없음</span>
                            </th:block>
                            <span class="gap"> · </span>
                            <span class="date"
                                  th:text="${#temporals.format(goods.goodsCreateAt, 'yyyy년 MM월 dd일')}"></span>
                          </div>

                          <!-- TODO : 할인 기능 추가할 시 변경 필요 -->
                          <div class="prod_price">
                            <span class="val" th:text="${#numbers.formatInteger(goods.goodsPrice, 3, 'COMMA')}"></span>
                            <span class="unit">원&nbsp;</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="prod_btn_wrap d-flex flex-column align-items-end" style="flex-shrink: 0;">
                    <div class="icon ms-auto mb-4">
                      <!-- 찜 상태에 따른 하트 아이콘 -->
                      <img th:src="${goods.wishStatus == 'Y'} ? '/images/user/redHeart.png' : '/images/user/heart.png'"
                           class="heart me-2"
                           th:data-id="${goods.goodsNo}"
                           width="36"
                           height="36"
                           alt="찜">
                      <img src="/images/user/cart.png" class="cart me-2" th:data-id="${goods.goodsNo}"
                           width="36" height="36" alt="장바구니">
                    </div>
                    <!-- 바로구매 버튼 -->
                    <button class="btn btn-primary buy-now-btn" th:data-id="${goods.goodsNo}">바로구매
                    </button>
                  </div>
                </li>
              </ul>
              <hr>
              <!-- 페이지네이션 -->
              <nav id="pagination" th:if="${searchResult.totalPages > 0}" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <!-- 이전 페이지 버튼 -->
                  <li th:classappend="${searchResult.currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${searchResult.currentPage - 1}"
                       th:if="${searchResult.currentPage > 1}">&lt;</a>
                  </li>

                  <!-- 페이지 번호 -->
                  <li th:each="i : ${#numbers.sequence(searchResult.startPage, searchResult.endPage)}"
                      th:classappend="${searchResult.currentPage == i} ? 'active' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${i}" th:text="${i}"></a>
                  </li>

                  <!-- 다음 페이지 버튼 -->
                  <li th:classappend="${searchResult.currentPage == searchResult.totalPages} ? 'disabled' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${searchResult.currentPage + 1}"
                       th:if="${searchResult.currentPage < searchResult.totalPages}">&gt;</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div class="search_result_wrap" th:if="${#lists.isEmpty(searchResult.searchResults)}">
          <p>검색 결과가 없습니다.</p>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>