<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <style>
      .mt-6 {
          margin-top: 6rem;
      }
  </style>
  <script th:inline="javascript">
      $(function () {
          $("#shopping").click(function() {
              location.href = "/";
          })
      })
  </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
  <div class="container w-75 mt-5 d-flex">
    <div style="width: 75%; height: 300vh">
      <h3 style="font-weight: bold">장바구니(0)</h3>
      <hr>
      <div style="height: 300px;" class="text-center">
        <img src="/img/user/warning.png" alt="경고" class="mt-5">
        <div style="font-weight: bold" class="mt-2">장바구니에 담긴 상품이 없습니다.</div>
        <div class="mt-2">마음에 드는 상품을 담아보세요!</div>
        <button id="shopping" class="btn btn-success mt-5">계속 쇼핑하기</button>
      </div>
      <hr>
    </div>
    <div style="width: 25%; height: 300vh">
      <div class="mt-6 ms-3 p-4 border rounded-3 sticky-top">
        <div class="d-flex justify-content-between">
          <p>상품 금액</p>
          <span>0원</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>상품 할인</p>
          <span>0원</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <p>결제 예정 금액</p>
          <span>0원</span>
        </div>
        <button class="btn btn-primary form-control mt-3">주문하기(0)</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>