<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/user/home.css">
    <link rel="stylesheet" href="/css/user/searchBox.css">
    <link rel="stylesheet" href="/css/user/userGoodsDetail.css">
    <link rel="stylesheet" href="/css/user/category.css">


    <script th:inline="javascript">
        $(function () {
            $("#logo").click(function () {
                location.href = "/";
            })

            $("#cart").click(function () {
                location.href = "/cart";
            })

            $("#myPage").click(function () {
                location.href = "/myPage";
            })

            $("#categoryItem").click(function () {
                location.href = "/goods/category/{no}";
            })

            $(".show-detail").click(function () {
                location.href = "";
            })

            $(".show-plus").click(function (e) {
                e.preventDefault(); // 기본 동작 방지
                if ($(".best-title").hasClass("active")) {
                    // 베스트셀러 탭이 활성화된 경우
                    location.href = "/goods/bestSeller";
                } else if ($(".steady-title").hasClass("active")) {
                    // 스테디셀러 탭이 활성화된 경우
                    location.href = "/goods/steadySeller";
                }
            });

            $(".best").click(function () {
                location.href = "/goods/bestSeller";
            })

            $(".steady").click(function () {
                location.href = "/goods/steadySeller";
            })

            $(".new").click(function () {
                location.href = "/goods/newItems";
            })

            $(".notice").click(function () {
                location.href = "/inquiry/notice/noti_list";
            })

            $(".qna").click(function () {
                location.href = "/inquiry/question";
            })

            $("#buy").click(function () {
                var goodsNo = document.querySelector(".goodsNo").value;
                var goodsName = document.querySelector(".goodsName").value;
                var goodsPrice = document.querySelector(".goodsPrice").value;
                var goodsWriter = document.querySelector(".goodsWriter").value;
                var quantity = $("#prdNum10").val();  // 수량 가져오기


                // URL에 값 붙여서 이동
                location.href = "/member/memberPay?goodsName=" + encodeURIComponent(goodsName) +
                    "&goodsPrice=" + encodeURIComponent(goodsPrice) +
                    "&goodsWriter=" + encodeURIComponent(goodsWriter) +
                    "&quantity=" + encodeURIComponent(quantity) +
                    "&goodsNo=" +   encodeURIComponent(goodsNo) ;

            })

            $(function () {
                // 찜 버튼 클릭 시
                $(".heart").click(function () {
                    // CSRF 토큰
                    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
                    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

                    const goodsNo = $(this).data("id");
                    const heartIcon = $(this);

                    $.ajax({
                        url: "/wish/wishlist",
                        type: "POST",
                        headers: {[csrfHeader]: csrfToken}, // CSRF 사용시 헤더에 추가
                        data: {goodsNo: goodsNo},
                        dataType: "json",
                        success: function (response) {
                            if (response.status === "added") {
                                alert("찜 설정 되었습니다.");
                                heartIcon.attr("src", "/images/user/redHeart.png");
                            } else if (response.status === "removed") {
                                alert("찜 해제 되었습니다.");
                                heartIcon.attr("src", "/images/user/heart.png");
                            }
                        },
                        error: function (xhr, status, error) {
                            if (status === "parsererror") {
                                location.href = '/member/login'
                            }
                        }
                    });
                });
            });

            // 카테고리 버튼 동작
            $(function () {
                $("#category").click(function () {
                    const category = $(this).find(".category");
                    const closeIcon = $(this).find(".close-icon");

                    if (category.hasClass("open")) {
                        // 햄버거 버튼으로 복귀
                        category.removeClass("open");
                        closeIcon.addClass("d-none");
                        category.removeClass("d-none");
                        $(this).css("background-color", "white");
                        $("#categoryView").hide(); // 카테고리 전체보기 숨기기
                    } else {
                        // X 버튼으로 전환
                        category.addClass("open");
                        closeIcon.removeClass("d-none");
                        category.addClass("d-none");
                        $(this).css("background-color", "black");
                        $("#categoryView").show(); // 카테고리 전체보기 보이기
                    }
                })
            })

        })


    </script>
</head>
<body>
<input type="hidden" class="goodsNo" th:value="${goods.goodsNo}">
<input type="hidden" class="goodsName" th:value="${goods.goodsName}">
<input type="hidden" class="goodsPrice" th:value="${goods.goodsPrice}">
<input type="hidden" class="goodsWriter" th:value="${goods.goodsWriter}">


<div id="username" th:text="${username}" hidden></div>
<div th:replace="~{fragment/header :: header}"></div>
<div class="bg-success" style="background: #226b24 !important;">
    <div class="container w-75">
        <div class="header-menu mt-4 d-flex align-items-center">
            <button class="btn btn-light me-3" id="category">
        <span class="category d-flex flex-column justify-content-center align-items-center">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </span>
                <span class="close-icon d-none">&times;</span>
            </button>
            <a class="best ps-5 pe-5"
               style="font-weight: 700; font-family:Malgun Gothic;margin-right:40px;font-size:18px;color: #ffffff;font-family:Roboto;">베스트셀러</a>
            <a class="steady ps-5 pe-5"
               style="font-weight: 700; font-family:Malgun Gothic;margin-right:40px;font-size:18px;color: #ffffff;font-family:Roboto;">스테디셀러</a>
            <a class="new ps-5 pe-5"
               style="font-weight: 700; font-family:Malgun Gothic;margin-right:40px;font-size:18px;color: #ffffff;font-family:Roboto;">신상품</a>
            <a class="notice ps-5 pe-5"
               style="font-weight: 700; font-family:Malgun Gothic;margin-right:40px;font-size:18px;color: #ffffff;font-family:Roboto;">공지사항</a>
            <a class="qna ps-5 pe-5"
               style="font-weight: 700; font-family:Malgun Gothic;font-size:18px;color: #ffffff;font-family:Roboto;">QNA</a>
        </div>
    </div>
</div>
<!-- 카테고리 전체보기 -->
<div id="categoryView">
    <div th:replace="~{fragment/category :: category}"></div>
</div>

<div class="container d-flex justify-content-center">
    <!--시작-->

    <div class="prod_detail_header" style="width: 75%">
        <br>
        <br>
        <div class="goodsName" th:text="${goods.goodsName}"></div>
        <hr>
        <div class="prod_detail_view_wrap">

            <div class="prod_detail_view_area">

                <div class="col_prod_info thumb">
                    <div class="prod_thumb_swiper_wrap active">
                        <div class="swiper-container prod_thumb_list_wrap swiper-container-fade swiper-container-horizontal">
                            <div class="leftarrow" onclick="moveLeft()"><span><img class="prod_prev"
                                                                                   src="../../images/user/prevarrow.png"
                                                                                   alt="prev" draggable="false"></span>

                            </div>
                            <div class="rightarrow" onclick="moveRight()"><span><img class="prod_next"
                                                                                     src="../../images/user/nextarrow.png"
                                                                                     alt="next"
                                                                                     draggable="false"></span></div>
                            <ul class="swiper-wrapper" id="slideList">
                                <th:block th:if="${imageList.size == 0 }">
                                    <li class="swiper-slide not_goods_image" style="width: 380px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                        <img src="../../images/user/no_image_icon.png" alt="notGoodsImage"  class="notGoodsImage">
                                    </li>
                                </th:block>
                                <th:block th:if="${imageList.size > 0 }">
                                <th:block th:each="image : ${imageList}">
                                    <li class="prod_thumb_item swiper-slide swiper-slide-visible swiper-slide-active"
                                        style="width: 380px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                        <div class="blur_img_wrap portrait">
                                            <!-- 이미지 리스트를 반복하여 출력 -->
                                            <img th:src="${image}" alt="Goods Image"  class="goodsImage" width="400" height="600">
                                        </div>
                                    </li>
                                </th:block>
                                </th:block>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col_prod_info container">
                    <div class="writerName_box row">
                        <div class="writer_title col-md-3">작가</div>
                        <div class="writer col-md-9" th:text="${goods.goodsWriter}"></div>
                    </div>

                    <br>
                    <div class="prod_price_box row">
                        <div class="prod_price_title col-md-3">가격</div>
                        <div class="prod_price col-md-9">
                                <span class="price"><span>[[${goods.goodsPrice}]]<span
                                        class="unit">원</span></span></span>

                        </div>

                    </div>
                    <br>

                    <div class="prod_guide_wrap row">
                        <div class="prod_guide_title col-md-3">배송안내</div>
                        <div class="prod_guide_cont col-md-9">
                            <div class="delivery_guide_text">
                                            <span id="OrderDeliveryType"
                                                  class="delivery_type">도서 포함 15,000원 이상 무료배송</span>
                                <div class="tooltip_wrap type_sm right">
                                    <button type="button" class="btn_tooltip" data-btn-toggle="">
                                        <span class="ico_info"></span>
                                        <span class="hidden">툴팁열기</span>
                                    </button>
                                    <div class="tooltip_inner">
                                        <div class="tooltip_header">
                                            <div class="tooltip_head_title">배송비 안내</div>
                                        </div>
                                        <div class="tooltip_contents">
                                            <div class="tooltip_sub_title">국내도서/외국도서</div>
                                            <div class="tooltip_desc">
                                                도서 포함 15,000원 이상 구매 시 무료배송
                                                <br>도서+사은품 또는 도서+사은품+교보Only(교보굿즈)
                                            </div>
                                            <p class="bul_item_asterisk font_size_xxs">15,000원 미만 시 2,500원
                                                배송비
                                                부과</p>

                                            <div class="tooltip_sub_title">교보Only(교보배송)</div>
                                            <div class="tooltip_desc">
                                                각각 구매하거나 함께 20,000원 이상 구매 시 무료배송
                                            </div>
                                            <p class="bul_item_asterisk font_size_xxs">20,000원 미만 시 2,500원
                                                배송비
                                                부과</p>

                                            <div class="tooltip_sub_title">해외주문 서양도서/해외주문 일본도서(교보배송)</div>
                                            <div class="tooltip_desc">
                                                각각 구매하거나 함께 15,000원 이상 구매 시 무료배송
                                            </div>
                                            <p class="bul_item_asterisk font_size_xxs">15,000원 미만 시 2,500원
                                                배송비
                                                부과</p>

                                            <div class="tooltip_sub_title">업체배송 상품(전집, GIFT, 음반/DVD 등)</div>
                                            <div class="tooltip_desc">
                                                해당 상품 상세페이지 "배송비" 참고 (업체 별/판매자 별 무료배송 기준 다름)
                                            </div>

                                            <div class="tooltip_sub_title">바로드림 오늘배송</div>
                                            <div class="tooltip_desc">
                                                업체에서 별도 배송하여 1Box당 배송비 2,500원 부과
                                            </div>
                                            <p class="bul_item_asterisk font_size_xxs">1Box 기준 : 도서 10권</p>

                                            <div class="tooltip_sub_title">그 외 무료배송 기준</div>
                                            <div class="tooltip_desc">
                                                바로드림, eBook 상품을 주문한 경우, 플래티넘/골드/실버회원 무료배송쿠폰 이용하여 주문한 경우,
                                                무료배송 등록
                                                상품을 주문한 경우
                                            </div>

                                        </div>
                                        <button type="button" class="btn_tooltip_close"><span
                                                class="hidden">툴팁닫기</span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="prod_guide_row">
                                <div class="prod_guide_cont">
                                    <div class="delivery_guide_text"><span
                                            class="badge_sm badge_pill badge_primary"><span
                                            class="text">새벽배송</span></span>

                                        <span id="OrderEstimatedDate"><span><strong
                                                class="blue">내일(1/10,금 오전 7시 전) 도착</strong></span></span>


                                        <button type="button" class="btn_info_popup" data-role="btn-dialog"
                                                data-target="#popDeliveryInfo">
                                            <span class="ico_question"></span>
                                            <span class="hidden">팝업 열기</span>
                                        </button>


                                    </div>
                                </div>

                            </div>


                            <div class="prod_guide_row">
                                <div class="prod_guide_cont">
                                    <div class="delivery_guide_text">
                                        <span class="fc_gray">기본배송지 기준</span>
                                        <div class="tooltip_wrap type_sm right">
                                            <button type="button" class="btn_tooltip"><span
                                                    class="ico_info"></span><span class="hidden">툴팁열기</span>
                                            </button>
                                            <div class="tooltip_inner">
                                                <div class="tooltip_header">
                                                    <div class="tooltip_head_title">배송일자 기준 안내</div>
                                                </div>
                                                <div class="tooltip_contents">
                                                    <div class="tooltip_desc">
                                                        로그인 : 회원정보에 등록된 기본배송지<br>
                                                        로그아웃 : '서울시 종로구 종로1' 주소 기준
                                                    </div>
                                                </div>
                                                <button type="button" class="btn_tooltip_close"><span
                                                        class="hidden">툴팁닫기</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="writerName_box row" style="display: flex; align-items: center;">

                        <div class="writer_title col-md-3">수량선택</div>
                        <div class="form_spinner_box size_sm" style="width:100px; display: inline-block;">
                            <span class="ui-spinner ui-widget ui-widget-content ui-corner-all ui-spinner-right"><button class="decrease ui-spinner-button ui-spinner-down ui-corner-br ui-button ui-widget"><span class="offscreen ui-icon ui-icon-triangle-1-s">상품 수량 한 개 줄이기</span></button><input type="number" id="prdNum10" value="1" class="form_spinner ui-spinner-input" title="수량" autocomplete="off"><button class="increase ui-spinner-button ui-spinner-up ui-corner-tr ui-button ui-widget"><span class="offscreen ui-icon ui-icon-triangle-1-n">상품 수량 한 개 늘리기</span></button></span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div id="prodBuyWrap" class="btn_wrap overlap single"
                         style="display: flex; justify-content: flex-start; gap: 10px;">
                        <img th:src="${(wishlist != null and #lists.contains(wishlist, goods.goodsNo))
                                    ? '/images/user/redHeart.png'
                                    : '/images/user/heart.png'}"
                             class="heart me-2"
                             th:data-id="${goods.goodsNo}"
                             width="36" height="36"
                             alt="찜">
                        <a href="#" id="direct" type="button" class="btn_lg btn_line_primary"
                           style="display: inline-flex; justify-content: center; align-items: center; width: 80px; height: 40px; padding: 0; border-radius: 5px; background-color: transparent; border: 2px solid #5055b1; color : #5055b1;font-size: 14px;">
                            <span class="text" style="display: inline-block; text-align: center;">장바구니</span>
                        </a>
                        <a href="#" id="buy" type="button" class="btn_lg btn_primary"
                           style="display: inline-flex; justify-content: center; align-items: center; width: 80px; height: 40px; padding: 0; border-radius: 5px;  border: none; color: white; font-size: 14px;">
                            <span class="text" style="display: inline-block; text-align: center;">바로구매</span>
                        </a>

                    </div>


                </div>

            </div>


        </div>

    </div>
</div>
<!--끝-->
<!--    상품상세-->
<div class="container tab_list_wrap w-75">
    <div class="sps sps_scroll_fixed tab_list_inner sps--abv sps-abv" data-height-observe="data-height-observe"
         data-sps-offset="1113" style="">
        <div class="sps_inner">
            <ul class="tabs">
                <li class="tab_item"><a href="#scrollSpyProdDetail" class="tab_link active"><span
                        class="tab_text">작품 상세</span></a></li>

                <li class="tab_item"><a href="#scrollSpyWriterInfo" class="tab_link">
                    <span class="tab_text">작가 상세</span></a></li>
                <li class="tab_item"><a href="#scrollSpyProdInfo" class="tab_link"><span
                        class="tab_text">상품 기본 정보</span></a></li>
            </ul>
        </div>

        <div class="sps_observer" style="top:0px;"></div>
    </div>
</div>
<hr>
<!--상품상세 끝-->
</div>
<div class="container goodsDetail w-75">
    <div class="prodDetail-box">
        <div class="prodDetail-header" id="scrollSpyProdDetail"> 상품 소개</div>
        <div class="prodDetail-Content" th:text="${goods.goodsContent}"></div>
        <div class="DetailLine"></div>
    </div>
    <div class="Line"><hr></div>
    <div class="writerDetail-box">
        <div class="writerDetail-header" id="scrollSpyWriterInfo">작가 상세</div>
        <div class="writerDetail-title">"[[${goods.goodsWriter}]]"</div>
        <div class="writerDetail-Content" th:text="${goods.writerContent}"></div>
    </div>
    <div class="Line"><hr></div>
    <div class="productDetail-box">
        <div class="productDetail-header" id="scrollSpyProdInfo">상품 기본 정보</div>
        <div id="goodscreateat">상품 출간일 : <span class="productDetail-Content" th:text="${goods.goodsCreateAt}"></span></div>
        <div id="goodspagecount">상품 페이지 수 : <span class="productDetail-Content" th:text="${goods.goodsPageCount}"></span></div>
        <div id="goodsbooksize">상품 기본 크기 : <span class="productDetail-Content" th:text="${goods.goodsBookSize}"></span></div>
    </div>
</div>


<br>
<br>
<br>
<script>
    let currentIndex = 0; // 현재 보여주는 슬라이드의 인덱스
    const slideList = document.getElementById("slideList"); // 여기서 "slideList"라는 ID를 찾아야 함
    const slides = document.querySelectorAll("#slideList .prod_thumb_item");
    const slideWidth = 380; // 한 슬라이드 너비(px)

    function moveLeft() {
        if (currentIndex > 0) {
            currentIndex--;
            updateSlidePosition();
        }
    }

    function moveRight() {
        if (currentIndex < slides.length - 1) {
            currentIndex++;
            updateSlidePosition();
        }
    }

    function updateSlidePosition() {
        const translateX = -(currentIndex * slideWidth);
        slideList.style.transform = `translateX(${translateX}px)`;
        slideList.style.transition = "transform 0.5s ease";
    }
</script>
</body>
</html>
