<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>검색결과</title>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link href="/css/user/home.css" rel="stylesheet">
  <link href="/css/user/searchBox.css" rel="stylesheet">
  <link href="/css/user/searchResult.css" rel="stylesheet">
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      });

      $("#cart").click(function () {
        location.href = "/cart";
      });

      $("#myPage").click(function () {
        location.href = "/myPage";
      });
    });
  </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<script th:src="@{/js/search_filter.js}"></script>
<main class="container_wrapper">
  <input type="hidden" id="keywordHidden" th:value="${keyword}">
  <section id="contents" class="contents_wrap">
    <div class="contents_inner">
      <div class="search_result_top">
        <div class="title_wrap title_size_lg">
          <h1 class="title_heading">
            <span style="color:#1e5f1e">
              '
              <span class="search_value" th:text="${keyword}"></span>
              '
            </span>
            <th:block th:if="${searchResults.size() > 0}">
            <span th:text="'에 대한 ' + ${searchResults.size()} + '개의 검색 결과'"></span>
            </th:block>
            <th:block th:if="${searchResults.size() == 0}">
              <span th:text="'상품 검색 결과가 없습니다.'"></span>
            </th:block>
          </h1>
        </div>
        <div th:if="${#lists.isEmpty(searchResults)}">
          <p>검색 결과가 없습니다.</p>
        </div>
        <div th:if="${!#lists.isEmpty(searchResults)}">
          <div class="container w-75 mt-5">
            <div class="d-flex justify-content-end align-items-center mb-3">
              <!-- 장바구니, 찜 버튼 -->

              <!--    <div class="icon ms-auto mb-4">-->
              <!--      <img src="/img/user/heart.png" class="me-2" width="36" height="36" alt="찜">-->
              <!--      <img src="/img/user/cart.png" class="me-2" width="36" height="36" alt="장바구니">-->
              <!--    </div>-->

              <!-- 드롭다운 -->
              <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li><a class="dropdown-item" href="#" data-sort="latest">최신순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="sales">판매량순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="highPrice">높은가격순</a></li>
                  <li><a class="dropdown-item" href="#" data-sort="lowPrice">낮은가격순</a></li>
                </ul>
                <!-- 페이지당 보기 -->
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownView" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownView">
                  <li><a class="dropdown-view" href="#" data-size="20">20개씩 보기</a></li>
                  <li><a class="dropdown-view" href="#" data-size="50">50개씩 보기</a></li>
                </ul>
              </div>
            </div>

            <div class="book-items mt-4">
              <ul class="list-unstyled">
                <!-- bestBooks 리스트를 반복하여 출력 -->
                <li th:each="goods : ${searchResults}">
                  <div class="category-list d-flex align-items-start mb-5">
                    <input type="checkbox" class="item-checkbox mt-1 ms-1" style="width: 18px; height: 18px;">
                    <div class="book-item mt-1">
                      <!-- 상품 이미지 클릭 시 상세 페이지 이동 -->
                      <a th:href="@{/goods/{no}(no=${goods.goodsNo})}" class="show-detail">
                        <div class="img-box">
                          <!--                <img th:src="@{/goods{image}(image=${goods.goodsImage})}" style="width:200px; height:280px;">-->
                        </div>
                      </a>
                      <div class="item-info">
                        <!-- 상품 이름 클릭 시 상세 페이지 이동 -->
                        <a th:href="@{/goods/{no}(no=${goods.goodsNo})}" class="show-detail">
                          <span class="item-name" th:text="${goods.goodsName}"></span>
                        </a>
                        <br>
                        <span class="item-author" th:text="${goods.goodsWriter}"></span>
                      </div>
                    </div>
                    <div class="icon ms-auto mb-4">
                      <img src="/images/user/heart.png" class="heart me-2" th:data-id="${goods.goodsNo}" width="36" height="36" alt="찜">
                      <img src="/images/user/cart.png" class="cart me-2" th:data-id="${goods.goodsNo}" width="36" height="36" alt="장바구니">
                    </div>
                    <!-- 바로구매 버튼 -->
                    <button class="btn btn-primary buy-now-btn" th:data-id="${goods.goodsNo}">바로구매</button>
                  </div>
                </li>
              </ul>
              <hr>
              <!-- 페이지네이션 -->
              <nav th:if="${totalPages > 0}" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <!-- 이전 페이지 버튼 -->
                  <li th:classappend="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${currentPage - 1}" th:if="${currentPage > 1}">&lt;</a>
                  </li>

                  <!-- 페이지 번호 -->
                  <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                      th:classappend="${currentPage == i} ? 'active' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${i}" th:text="${i}"></a>
                  </li>

                  <!-- 다음 페이지 버튼 -->
                  <li th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" href="#" th:attr="data-page=${currentPage + 1}" th:if="${currentPage < totalPages}">&gt;</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>