<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

<!--    &lt;!&ndash; DataTables CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/user/home.css">
    <link rel="stylesheet" href="/css/user/searchBox.css">
    <link rel="stylesheet" href="/css/user/userOrderlist.css">
<!--    &lt;!&ndash; DataTables JS &ndash;&gt;-->
<!--    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>-->
    <script th:inline="javascript">
        $(function () {
            $("#logo").click(function () {
                location.href = "/";
            })

            $("#cart").click(function () {
                location.href = "/cart";
            })

            $("#myPage").click(function () {
                location.href = "/myPage";
            })
        })
    </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
    <div class="container w-75 pt-5">
        <div class="d-flex">
            <div class="d-flex flex-column ms-4" style="width: 20%; height: 100vh;">
                <div class="bg-success rounded-3 p-5">
                    <table class="ms-3">
                        <tr>
                            <td><img class="profile" src="/img/user/profile.png" alt="프로필"></td>
                        </tr>
                        <tr>
                            <td>
                                <th:block sec:authorize-expr="isAuthenticated()">
                                    <span sec:authentication="name" class="fs-4 text-white fw-bold"></span><span class="text-white fw-bold">님</span>
                                </th:block>
                                <th:block sec:authorize-expr="not isAuthenticated()">
                                    <span class="ms-2 fs-4 text-white fw-bold">null님</span>
                                </th:block>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container mt-5">
                    <!-- 쇼핑내역 -->
                    <div class="mb-4">
                        <h5 class="fw-bold">쇼핑내역</h5>
                        <ul class="list-unstyled">
                            <li>주문/배송목록</li>
                        </ul>
                    </div>

                    <!-- 라이브러리 -->
                    <div class="mb-4">
                        <h5 class="fw-bold">라이브러리</h5>
                        <ul class="list-unstyled">
                            <li>찜</li>
                        </ul>
                    </div>

                    <!-- 문의 내역 -->
                    <div class="mb-4">
                        <h5 class="fw-bold">문의내역</h5>
                        <ul class="list-unstyled">
                            <li>1:1문의</li>
                        </ul>
                    </div>

                    <!--회원정보-->
                    <div class="mb-4">
                        <h5 class="fw-bold">회원정보</h5>
                        <ul class="list-unstyled">
                            <li>배송주소록</li>
                            <li>회원정보관리</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 80%; height: 100vh;" class="text-center">


                <div class="order_history_group">
                    <!-- 주문내역 타이틀 영역 -->
                    <!-- DESC : 타이틀 영역은 [.type_title] 클래스 추가 -->
                    <div class="order_history_box type_title">
                        <span class="history_val">주문내역</span>
                        <span class="history_desc">
                    주문/배송안내
<!--                    <button type="button" class="btn_info_popup" data-role="btn-dialog" data-target="#popOrderdeliveryinfo"><span class="ico_question"></span><span class="hidden"></span></button>-->
                </span>
                    </div>
                    <!-- //주문내역 타이틀 영역 -->
                    <!-- 수정 220428 리스트 목록 수정 -->
                    <div class="order_history_box">
                        <button type="button" class="btn_filter_history">
                            <span class="history_val" data-order-summary-preparation="">0</span>
                            <span class="history_desc">준비중</span>
                        </button>
                    </div>
                    <div class="order_history_box">
                        <button type="button" class="btn_filter_history">
                            <span class="history_val" data-order-summary-delivery="">0</span>
                            <span class="history_desc">배송중</span>
                        </button>
                    </div>
                    <div class="order_history_box">
                        <button type="button" class="btn_filter_history">
                            <span class="history_val" data-order-summary-delivery-finish="">0</span>
                            <span class="history_desc">배송완료</span>
                        </button>
                    </div>
                    <div class="order_history_box">
                        <button type="button" class="btn_filter_history">
                            <span class="history_val" data-order-summary-cancel="">0</span>
                            <span class="history_desc">취소</span>
                        </button>
                    </div>
                    <div class="order_history_box">
                        <button type="button" class="btn_filter_history">
                            <span class="history_val" data-order-summary-exchange-returned-goods="">0</span>
                            <span class="history_desc">교환/반품</span>
                        </button>
                    </div>
                    <!-- //수정 220428 리스트 목록 수정 -->
                </div>

                <div class="no_data has_black_line" style="" data-order-commodity-list-no-data="">
                    <div class="no_data_desc">해당 기간에 주문한 상품이 없습니다.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>