<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/user/home.css">
    <link rel="stylesheet" href="/css/user/searchBox.css">
    <script th:inline="javascript">
        $(function () {
            $("#logo").click(function () {
                location.href = "/";
            })

            $("#cart").click(function () {
                location.href = "/member/cart";
            })

            $("#myPage").click(function () {
                location.href = "/myPage";
            })

            $(".category-item").click(function () {
                location.href = "/member/category/{no}";
            })

            // $(".show-detail").click(function () {
            //     location.href = "";
            // })

            $(".show-plus").click(function (e) {
                e.preventDefault(); // 기본 동작 방지
                if ($(".best-title").hasClass("active")) {
                    // 베스트셀러 탭이 활성화된 경우
                    location.href = "/member/bestSeller";
                } else if ($(".steady-title").hasClass("active")) {
                    // 스테디셀러 탭이 활성화된 경우
                    location.href = "/member/steadySeller";
                }
            });

            $(".best").click(function () {
                location.href = "/member/bestSeller";
            })

            $(".new").click(function () {
                location.href = "/member/newItems";
            })

            // 카테고리 버튼 동작
            $(function () {
                $("#category").click(function () {
                    const category = $(this).find(".category");
                    const closeIcon = $(this).find(".close-icon");

                    if (category.hasClass("open")) {
                        // 햄버거 버튼으로 복귀
                        category.removeClass("open");
                        closeIcon.addClass("d-none");
                        category.removeClass("d-none");
                        $(this).css("background-color", "white");
                        $("#categoryView").hide(); // 카테고리 전체보기 숨기기
                    } else {
                        // X 버튼으로 전환
                        category.addClass("open");
                        closeIcon.removeClass("d-none");
                        category.addClass("d-none");
                        $(this).css("background-color", "black");
                        $("#categoryView").show(); // 카테고리 전체보기 보이기
                    }
                })
            })

            // 베스트 및 스테디 클릭 이벤트 처리
            $("#best").click(function () {
                $(this).addClass("active").siblings(".steady-title").removeClass("active");
                // 베스트 데이터 표시
                $(".best-items").show();
                $(".steady-items").hide();
            })

            $("#steady").click(function () {
                $(this).addClass("active").siblings(".best-title").removeClass("active");
                // 스테디 데이터 표시
                $(".steady-items").show();
                $(".best-items").hide();
            })
        })
    </script>
</head>
<body>
<div id="username" th:text="${username}" hidden></div>
<div th:replace="~{fragment/header :: header}"></div>
<div class="bg-success">
    <div class="container w-75">
        <div class="header-menu mt-4 d-flex align-items-center">
            <button class="btn btn-light me-3" id="category">
        <span class="category d-flex flex-column justify-content-center align-items-center">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </span>
                <span class="close-icon d-none">&times;</span>
            </button>
            <a href="#" class="best ps-5 pe-5">베스트</a>
            <a href="#" class="new ps-5 pe-5">신상품</a>
        </div>
    </div>
</div>
<!-- 카테고리 전체보기 -->
<div id="categoryView">
    <h4 class="text-center mb-3">카테고리</h4><br>
    <div class="category-list">
        <ul class="list-unstyled">
            <!-- categoryList의 각 요소를 반복하여 출력 -->
            <li th:each="category : ${categoryList}">
                <!-- 카테고리 이름 출력 -->
                <a th:href="@{/member/category/{no}(no=${category.cateNo})}"
                   th:text="${category.cateName}"
                   class="category-item"></a>
            </li>
        </ul>
    </div>
</div>

<div class="container w-75 d-flex">
    <div class="banner mt-3 m-auto">
        <div id="carouselExample" class="carousel slide carousel-height" style="width: 890px; height: 380px">
            <div class="carousel-inner rounded-4">
                <div class="carousel-item active" id="item1">
                    <img src="/images/user/carousel/page1.jpg" class="d-block w-100" alt="item1">
                </div>
                <div class="carousel-item" id="item2">
                    <img src="/images/user/carousel/page2.jpg" class="d-block w-100" alt="item2">
                </div>
                <div class="carousel-item" id="item3">
                    <img src="/images/user/carousel/page3.jpg" class="d-block w-100" alt="item3">
                </div>
                <div class="carousel-item" id="item4">
                    <img src="/images/user/carousel/page4.jpg" class="d-block w-100" alt="item4">
                </div>
                <div class="carousel-item" id="item5">
                    <img src="/images/user/carousel/page5.jpg" class="d-block w-100" alt="item5">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- 베스트 스테디 샐러 -->
<div class="container w-75 mt-5">
    <div class="d-flex align-items-center justify-content-start">
        <h3 class="mb-4 me-3 best-title active" id="best">베스트</h3>
        <h3 class="mb-4 mx-3" style="color: gray; font-size:15px">|</h3>
        <h3 class="mb-4 ms-3 steady-title" id="steady">스테디</h3>
        <a href="#" class="show-plus">더보기 +</a>
    </div>
<!--    <div class="best-items">-->
<!--        <ul class="list-unstyled">-->
<!--            <li th:each="book : ${bestBooks}">-->
<!--                <span class="item-lank" style="font-size : 18px;" th:text="${book.rank}"></span>-->
<!--                <div class="item-image">-->
<!--                    <a href="#" class="show-detail">-->
<!--                        <div class="img-box">-->
<!--                            <img th:src="@{/img/user/book/{image}(image=${book.image})}" style="width:200px; height:280px;" th:alt="${book.alt}">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="item-info">-->
<!--                    <a href="#" class="show-detail">-->
<!--                        <span class="item_name" th:text="${book.name}"></span>-->
<!--                    </a><br>-->
<!--                    <span class="item_author" th:text="${book.author}"></span>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="steady-items" style="display: none">-->
<!--        <ul class="list-unstyled">-->
<!--            <li th:each="book : ${steadyBooks}">-->
<!--                <span class="item-lank" style="font-size : 18px;" th:text="${book.rank}"></span>-->
<!--                <div class="item-image">-->
<!--                    <a href="#" class="show-detail">-->
<!--                        <div class="img-box">-->
<!--                            <img th:src="@{/img/user/book/{image}(image=${book.image})}" style="width:200px; height:280px;" th:alt="${book.alt}">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="item-info">-->
<!--                    <a href="#" class="show-detail">-->
<!--                        <span class="item_name" th:text="${book.name}"></span>-->
<!--                    </a><br>-->
<!--                    <span class="item_author" th:text="${book.author}"></span>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="best-items">
        <ul class="best-list list-unstyled">
            <li>
                <span class="item-lank" style="font-size : 18px;">1</span>
                <div class="item-image">
                    <a href="/member/GoodsDetail" class="show-detail">
                        <div class="img-box">
                            <img src="/images/user/book/item1.png" style="width:200px; height:280px;" alt="item1">
                        </div>
                    </a>
                </div>
                <br>
                <div class="item-info">
                    <a href="/member/GoodsDetail" class="show-detail">
                        <span class="item_name">소년이 온다</span>
                    </a><br>
                    <span class="item_author">한강 · 창비</span>
                </div>
            </li>
            <li>
                <span class="item-lank" style="font-size : 18px;">2</span>
                <div class="item-image">
                    <a href="#" class="show-detail">
                        <div class="img-box">
                            <img src="/images/user/book/bestItem2.png" style="width:200px; height:280px;" alt="bestItem2">
                        </div>
                    </a>
                </div>
                <br>
                <div class="item-info">
                    <a href="#" class="show-detail">
                        <span class="item_name">채식주의자</span>
                    </a><br>
                    <span class="item_author">한강 · 문학동네</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="steady-items" style="display: none">
        <ul class="steady-list list-unstyled">
            <li>
                <span class="item-lank" style="font-size : 18px;">1</span>
                <div class="item-image">
                    <a href="#" class="show-detail">
                        <div class="img-box">
                            <img src="/images/user/book/item1.png" style="width:200px; height:280px;" alt="item1">
                        </div>
                    </a>
                </div>
                <br>
                <div class="item-info">
                    <a href="#" class="show-detail">
                        <span class="item_name">소년이 온다</span>
                    </a><br>
                    <span class="item_author">한강 · 창비</span>
                </div>
            </li>
            <li>
                <span class="item-lank" style="font-size : 18px;">2</span>
                <div class="item-image">
                    <a href="#" class="show-detail">
                        <div class="img-box">
                            <img src="/images/user/book/steadyItem2.png" style="width:200px; height:280px;"
                                 alt="steadyItem2">
                        </div>
                    </a>
                </div>
                <br>
                <div class="item-info">
                    <a href="#" class="show-detail">
                        <span class="item_name">작별하지 않는다</span>
                    </a><br>
                    <span class="item_author">한강 · 문학동네</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
