<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/qna_reply.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/notice.css">
  <link rel="stylesheet" href="/css/user/noticedetail.css">
  <link rel="stylesheet" href="/css/user/qnadetail.css">
  <link rel="icon" th:href="@{/images/user/favicon.png}">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script th:inline="javascript">
    $(function () {
      $("#logo").click(function () {
        location.href = "/";
      })

      $("#cart").click(function() {
        location.href="/cart";
      })

      $("#myPage").click(function() {
        location.href="/myPage";
      })
    })
  </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>

<!-- aside -->
<div class="mt-4 border-top">
  <div class="container w-75 pt-51">

    <!--div headwrap-->
    <section class="header-menu mt-4">
      <a href="#" class="home_link">home</a>
      <a href="#" class="btn_sub_depth">고객센터</a>
    </section>

    <!--div container-->
    <div class="d-flex">
      <div class="d-flex flex-column ms-4" style="width: 15%;">
        <div class="aside_wrap">
          <div class="aside_header">
            <p class="side_heading">고객센터</p>
          </div>

          <!-- cs center -->
          <div class="aside_body">
            <div class="sd_wrap" style="width: 170px;">
              <ul class="list_category">
                <li class="side_item">
                  <a href="/" class="sd_link">메인</a>
                </li>
                <li class="side_item">
                  <a href="/inquiry/notice/noti_list" class="sd_link">공지사항</a></li>
                <li class="side_item">
                  <a href="/inquiry/question" class="sd_link">문의하기</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- main -->
    <div class="flex-grow-1" style="max-width: 800px; margin: 0 auto;">
      <div class="content-wrapper px-4">
        <div>
        <span class="qna_kind" th:text="${qValue}"></span>
        </div>
        <div>
        <p class="title_heading" th:text="${questiondata.qtitle}"></p>
        </div>
        <div class="info_case">
          ID : <span class="desc" th:text="${questiondata.qname}"></span>
          <span class="gap">|</span>
          <span class="date" th:text="${questiondata.qcreateat}"></span>
          <hr>
        </div>
        <div class="content-area mb-4">
          <div th:text="${questiondata.qcontent}" class="mb-3"></div>
          <div th:if="${questiondata.qfile != null}" class="mt-2">
            <img th:src="|/upload${questiondata.qfile}|" style="width:100px;">
<!--<img th:src="@{'/display/image?filename=' + ${questiondata.qfile}}" class="question-image">-->
          </div>
        </div>

      <!--QnA 댓글 -->
        <div id="comment">
          <th:block sec:authorize="hasRole('ROLE_ADMIN')">
          <button id="write" class="btn btn-primary float-right">등록</button>
          <textarea rows="3" class="form-control" id="content" maxlength="300"></textarea>
            <input type="hidden" id="loginid" th:value="${#authentication.principal.username}">
          </th:block>
          <table class="table">
            <tbody>
            </tbody>
          </table>
          <div id="message"></div>
          <input type="hidden" name="board_num" th:value="${questiondata.qno}" id="board_num">
        </div>



      <!-- 공지사항 버튼-->
  <div class="d-flex justify-content-center mt-4">
    <a th:href="@{/inquiry/question}">
      <button type="button" class="btn" style="border:1px solid #226b24;
                   background-color:transparent; height: 44px; color:#226b24; font-weight: bold;">문의하기 목록</button>
    </a>
  </div>
</div>
</div>
</div>

    </div>
  </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>