.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.order-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-container input[type="text"] {
    border: 0.5px solid black;
    padding: 8px;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}
.search-container button {
    border: none !important;
    background-color: #062546 !important;
    color: white !important;
    padding: 8px 15px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    border-radius: 3px !important;
}
.summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.table-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 13px;
    font-weight: normal;
}
th {
    background-color: #f4f4f4;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}
.result_count {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.result_count .ct_green {
    color: #226b24 !important;
    font-weight: bold;
    margin-left: 5px;
}

.rows {
    width: 110px !important;
}

#viewcount {
    width: 120px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

#viewcount:focus {
    border-color: rgba(128, 128, 128, 0.5) !important;
    box-shadow: none !important;
    outline: none !important;
}

#viewcount option {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 5px;
}

#viewcount option:checked {
    background-color: rgba(128, 128, 128, 0.3) !important;
}

#itemsPerPage{
    border-color: rgba(128, 128, 128, 0.5);
    box-shadow: none;
    outline: none;
}
