<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/js/jquery-3.7.1.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <style>
      body, html {
          height: 100%;
      }

      img {
          cursor: pointer;
      }
  </style>
  <script>
      $(function() {
          let token = $("meta[name='_csrf']").attr("content");
          let header = $("meta[name='_csrf_header']").attr("content");

          $("img").click(function() {
              location.href= "/member/main";
          })

          $("#loginBtn").click(function() {
              let sellerId = $("#sellerId").val();
              let password = $("#password").val();

              $.ajax({
                  url: '/seller/pendingCheck',
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({"sellerId" : sellerId, "password" : password}),
                  beforeSend: function (xhr) {
                      xhr.setRequestHeader(header, token);
                  },
                  success: function(response) {
                      if (!response) {
                          $("#loginForm").submit();
                      } else if (response.permission === 'Pending') {
                          alert("가입 승인 대기 상태입니다. 관리자한테 문의하세요.");
                      } else if (response.permission === 'Rejected') {
                          alert("가입 승인이 거절되었습니다. 관리자한테 문의하세요.");
                      } else if (response.permission === 'Approved') {
                          $("#loginForm").submit();
                      } else {
                          alert("오류 발생");
                      }
                  }
              })
          })
      })
  </script>
</head>
<body class="d-flex justify-content-center align-items-center bg-primary-subtle">
<div class="container w-25 text-center">
  <div>
    <form th:action="@{/seller/loginProcess}" id="loginForm" method="post" class="border p-5 rounded-3 mb-5" style="background-color: white">
      <img id="logo" src="/images/user/fClover.png" alt="메인로고" width="300px" height="80px" class="mb-3">
      <h4 class="mb-4">판매자 로그인</h4>
      <input type="text" class="form-control mb-3" id="sellerId" name="sellerId" placeholder="아이디">
      <input type="password" class="form-control mb-3" id="password" name="password" placeholder="비밀번호">
      <input type="hidden" name="userType" value="seller">
      <div id="message" style="color: red" th:text="${message}" class="text-start mb-2"></div>
      <button type="button" class="form-control btn btn-primary" id="loginBtn">로그인</button>
    </form>
  </div>
</div>
</body>
</html>