<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매자 주문 목록</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user/home.css}">
    <link rel="stylesheet"  th:href="@{/css/user/searchBox.css}">
    <link rel="stylesheet"  th:href="@{/css/seller.css}">
    <script th:inline="javascript">
        $(function () {
            $("#logo").click(function () {
                location.href = "/";
            })

            $("#cart").click(function() {
                location.href="/cart";
            })

            $("#myPage").click(function() {
                location.href="/myPage";
            })
        })
    </script>
</head>
<style>
    button[type=submit] {
        all: unset;
        cursor: pointer;
    }

    div a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    div li a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
</head>
<body>
<div class="bg-light mb-3">
    <div class="container w-75 ms-auto">
        <div class="top-menu">
            <th:block th:if="${seller != null}">
                <a href="/seller/myPage" class="pe-2"><span th:text="${seller.name}"></span>(판매자)님</a>
                <form th:action="@{/seller/logout}" method="post">
                    <button type="submit" class="pe-2">로그아웃</button>
                </form>
            </th:block>
        </div>
    </div>
</div>

<div class="container">
    <div class="order-header">구매자 주문 목록</div>
    <div class="search-container">
        <form method="get" action="/seller/buyerList">
            <input type="text" name="search_word" placeholder="검색어 입력">
            <button type="submit">검색</button>
        </form>
    </div>

    <div class="summary-container">
        <p class="order-count">
            구매자<span class="to_green"> [[${searchlistcount}]]</span>건
        </p>

        <div class="pagination-controls">
            <select id="itemsPerPage" th:onchange="|window.location.href='/seller/buyerList?search_word='
                    + encodeURIComponent('[[${search_word}]]') + '&n=[[${n}]]&size=' + this.value|">

            <option th:value="0" th:text="'전체'" th:selected="${size == 0}"></option>
                <option th:value="5" th:text="'5'" th:selected="${size == 5}"></option>
                <option th:value="10" th:text="'10'" th:selected="${size == 10}"></option>
                <option th:value="20" th:text="'20'" th:selected="${size == 20}"></option>
            </select>
        </div>
    </div>


    <!-- 주문 목록 테이블 -->
    <div class="table-container">
        <table class="table">
            <thead>
        <tr>
            <th>No</th>
            <th>주문번호</th>
            <th>주문일시</th>
            <th>주문상태</th>
            <th>도서명</th>
            <th>수량</th>
            <th>구매자</th>
            <th>배송일</th>
        </tr>
        </thead>
            <tbody>
            <tr th:each="order : ${orderList}">
                <td th:text="${order.no}"></td>
                <td th:text="${order.deliNo}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.deliStatus}"></td>
                <td th:text="${order.goodsName}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.customerName}"></td>
                <td th:text="${order.deliveryDate}"></td>
            </tr>
            </tbody>

        </table>
    </div>
    <!-- 페이지네이션 -->
    <div style="text-align: center;">
        <th:block th:replace="~{fragment/paging :: paging('/seller/buyerList', 'page=' + ${page} + '&search_word=' + (${search_word} ?: ''))}"/>
    </div>
</div>
</body>
</html>
