<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/js/jquery-3.7.1.js"></script>
  <style>
      img {
          cursor: pointer;
      }

      .w-45 {
          width: 45%;
      }

      form {
          border: 1px solid gray;
      }
  </style>
  <script>
      $(function() {
          $("img").click(function() {
              location.href = "/seller/main";
          })

          $("#login").click(function() {
              location.href = "/seller/login";
          })
      })
  </script>
</head>
<body>
<div class="d-flex align-items-center mt-1 border-bottom">
  <img class="mb-3" src="/img/user/fClover.png" alt="로고" width="300px" height="66px">
  <div class="ms-auto">
    <button id="login" class="btn btn-outline-primary me-3">판매자 로그인</button>
  </div>
</div>
<div class="container w-50">
  <div class="text-center mt-5">
    <h1>비즈니스 시작하기</h1>
  </div>
  <div class="mt-5 w-45 m-auto">
    <form th:action="@{/seller/signup}" method="post" class="p-5 rounded-3">
      <input type="text" class="form-control mb-3" id="sellerId" name="sellerId" placeholder="아이디">
      <input type="password" class="form-control mb-3" id="password" name="password" placeholder="비밀번호">
      <input type="text" class="form-control mb-3" id="name" name="name" placeholder="이름">
      <input type="text" class="form-control mb-3" id="email" name="email" placeholder="이메일">
      <input type="text" class="form-control mb-3" id="phoneNumber" name="phoneNumber" placeholder="휴대폰 번호">
      <input type="text" class="form-control mb-3" id="businessNumber" name="businessNumber" placeholder="사업자 번호">
      <input type="text" class="form-control mb-5" id="companyName" name="companyName" placeholder="회사 이름">
      <input type="submit" class="form-control btn btn-primary" value="판매자 가입">
    </form>
  </div>
</div>
</body>
</html>