<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/myPage.css">
  <script th:inline="javascript">
      $(function () {
          $("#updateInfo").click(function() {
              location.href = "/member/myPage/info/modify";
          })

          $("#deleteBtn").click(function() {
              location.href = "/member/myPage/info/delete";
          })
      })
  </script>
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
  <div class="container w-75 pt-5">
    <div class="d-flex">
      <div th:replace="~{fragment/mypage :: sidebar}"></div>
      <div style="width: 80%; height: 100vh;">
        <h3 class="ms-5 fw-bold">회원정보수정</h3>
        <br>
        <h5 class="ms-5 fw-bold">기본 정보</h5>
        <hr class="ms-5 mb-5">
        <div class="w-75 ms-5">
          <div class="d-flex">
            <span class="w-50 fw-bold" style="line-height: 36px">아이디</span>
            <input type="text" name="memberId" readonly class="form-control mb-3 bg-light" th:value="${member.memberId}">
          </div>
          <div class="d-flex">
            <span class="w-50 fw-bold" style="line-height: 36px">비밀번호</span>
            <input type="password" name="password" readonly class="form-control mb-3 bg-light" th:value="${member.password}">
          </div>
          <div class="d-flex">
            <span class="w-50 fw-bold" style="line-height: 36px">이름</span>
            <input type="text" name="name" readonly class="form-control mb-3 bg-light" th:value="${member.name}">
          </div>
          <div class="d-flex">
            <span class="w-50 fw-bold" style="line-height: 36px">이메일</span>
            <input type="text" name="email" readonly class="form-control mb-3 bg-light" th:value="${member.email}">
          </div>
          <div class="d-flex">
            <span class="w-50 fw-bold" style="line-height: 36px">휴대폰 번호</span>
            <input type="text" name="phoneNumber" readonly class="form-control mb-5 bg-light" th:value="${member.phoneNumber}">
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-success ps-5 pe-5" id="updateInfo">수정</button>
          </div>
        </div>
        <hr class="ms-5 mt-5">
        <button class="btn-sm btn btn-danger ms-5 ps-2 pe-2 me-2" id="deleteBtn">탈퇴</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>