<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="/css/user/home.css">
  <link rel="stylesheet" href="/css/user/searchBox.css">
  <link rel="stylesheet" href="/css/user/myPage.css">
</head>
<body>
<div th:replace="~{fragment/header :: header}"></div>
<div class="mt-4 border-top">
  <div class="container w-75 pt-5">
    <div class="d-flex">
      <div class="d-flex flex-column ms-4" style="width: 20%; height: 100vh;">
        <div class="bg-success rounded-3 p-5">
          <table class="ms-3">
            <tr>
              <td><img class="profile" src="/img/user/profile.png" alt="프로필"></td>
            </tr>
            <tr>
              <td>
                <th:block sec:authorize-expr="isAuthenticated()">
                  <span sec:authentication="name" class="fs-4 text-white fw-bold"></span><span
                        class="text-white fw-bold">님</span>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
        <div class="container mt-5">
          <!-- 쇼핑내역 -->
          <div class="mb-4">
            <h5 class="fw-bold">쇼핑내역</h5>
            <ul class="list-unstyled">
              <li><a href="/member/myPage/orderDelivery">주문/배송</a></li>
              <li><a href="/member/myPage/purchaseHistory">구매 내역</a></li>
            </ul>
          </div>

          <!-- 라이브러리 -->
          <div class="mb-4">
            <h5 class="fw-bold">라이브러리</h5>
            <ul class="list-unstyled">
              <li><a href="/member/myPage/wishlist">찜 목록</a></li>
            </ul>
          </div>

          <!--회원정보-->
          <div class="mb-4">
            <h5 class="fw-bold">회원정보</h5>
            <ul class="list-unstyled">
              <li><a href="/member/myPage/deliveryAddressBook">배송주소록</a></li>
              <li><a href="/member/myPage/info-check">회원정보관리</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="width: 80%; height: 100vh;">
        <div>
          <h5 class="ms-5 fw-bold">배송 주소록</h5>
        </div>
        <th:block th:unless="${deliveryAddressList.size() == 0}">
          <div class="container bg-light rounded-4 p-3 mt-3 ms-5 mb-5 me-5 text-center" style="height: 200px;">
            <h3>기본 배송지를 설정해주세요.</h3>
          </div>
        </th:block>
        <div class="d-flex justify-content-end">
          <button id="shopping" class="btn btn-success ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
            + 새 배송지 등록
          </button>
        </div>
        <hr class="ms-5 mb-5">
        <th:block th:if="${deliveryAddressList.size() == 0}">
          <div class="text-center" style="height: 200px;">
            <img src="/img/user/warning.png" alt="경고" class="mt-5">
            <div style="font-weight: bold" class="mt-2 mb-5">등록된 배송지가 없습니다.</div>
            <hr class="ms-5 mb-5">
          </div>
        </th:block>
        <th:block th:unless="${deliveryAddressList.size() == 0}">
          <div class="ms-5" th:each="deliveryAddress : ${deliveryAddressList}">
            <table>
              <tr>
                <td class="p-3" rowspan="3"><input type="radio" name="defaultAddress"></td>
                <td><div class="fw-bold" th:text="${deliveryAddress.shipping_address_name}"></div></td>
              </tr>
              <tr class="fw-bold">
                <td><span th:text="${deliveryAddress.receiver}"></span> / <span th:text="${deliveryAddress.phone}"></span></td>
              </tr>
              <tr>
                <td><span th:text="${deliveryAddress.address}"></span></td>
              </tr>
            </table>
            <hr class="mt-5 mb-5">
          </div>
          <div class="ms-5">
            <button class="btn btn-primary mb-5">기본 배송지로 설정</button>
          </div>
        </th:block>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">배송지 추가</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal -->
      <div class="modal-body">
        <div class="container">
          <form th:action="@{/member/addDeliveryAddress}" method="post">
            <input type="hidden" name="member_id" th:value="${member.member_id}">
            <div class="fw-bold mb-2">배송지명</div>
            <input type="text" name="shipping_address_name" placeholder="최대 7글자까지 자유롭게 수정가능" class="form-control">
            <br>
            <div class="fw-bold mb-2">받는분</div>
            <input type="text" name="receiver" placeholder="이름을 입력해 주세요." class="form-control mb-2">
            <input type="text" name="phone" placeholder="휴대폰번호를 - 없이 입력해주세요." class="form-control">
            <br>
            <div class="fw-bold mb-2">주소</div>
            <input type="text" name="address" placeholder="상세주소 입력하세요." class="form-control mb-5">
            <div class="d-flex justify-content-center">
              <input type="submit" class="btn btn-primary ps-5 pe-5 pt-2 pb-2" value="저장">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>